<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<script type="text/javascript" src="/statics/new_js/libs/oauth2_token_listener.js"></script>
<title>我的设备</title>
</head>
<body>
<div class="Top"><h3 onclick="javascript:window.location.href='/account.html'">我的牙刷</h3></div>
<div class="list">
<div class="items">
<!-- 
    <div class="binding">
        <img src="/statics/new_images/yashua1.png" alt=""/>
        <div class="txt">
        	<p class="who">声波电动牙刷</p>
        	<p class="code">E17120059</p>
        	<p class="join on">设为自动连接</p>
        </div>
        <em>删除</em>
    </div>
    <div class="binding">
        <img src="/statics/new_images/yashua2.png" alt=""/>
        <div class="txt">
        	<p class="who">声波电动牙刷</p>
        	<p class="code">E17120059</p>
        	<p class="join">设为自动连接</p>
        </div>
        <em>删除</em>
    </div>
    <div class="binding">
        <img src="/statics/new_images/yashua3.png" alt=""/>
        <div class="txt">
        	<p class="who">儿童电动牙刷</p>
        	<p class="code">E17120059</p>
        	<p class="join on">设为自动连接</p>
        </div>
        <em>删除</em>
    </div>
    <div class="binding">
        <img src="/statics/new_images/yashua4.png" alt=""/>
        <div class="txt">
        	<p class="who">声波电动牙刷</p>
        	<p class="code">E17120059</p>
        	<p class="join">设为自动连接</p>
        </div>
        <em class="unbindBtn">删除</em>
    </div>
  -->   
</div>
    <div class="tianjia font-32">   		
    	<ul>    	
    		<li>扫二维码添加</li>     		  		
    		<li id="addYashuaBtn">手动添加</li>
    	</ul>
    </div>
<div class="ui-dialog">
    <div class="ui-dialog-cnt">
	    <header class="ui-dialog-hd ui-border-b">
                  <h3>绑定设备</h3>
                  <i class="ui-dialog-close" data-role="button"></i>
              </header>
        <div class="ui-dialog-bd">
            <div><input type="text" name="identity" maxlength="20" placeholder="请输入设备ID"/></div>
        </div>
        <div class="ui-dialog-ft">
            <button type="button" data-role="button">取消</button>
            <button type="button" data-role="button">绑定</button>
        </div>
    </div>        
</div>  
</div>

<script type="text/javascript">
$(function(){
	var l1 = $.loading().show();
	$.ajax({
		type: "GET",
	    url: "/yashua/device/mylist",
	    success: function(r){
	    	l1.hide();
	    	if(r.errcode == 0){
	    		var html = "";
	    		var datas = r.data;
	    		for(var i=0;i<datas.list.length;i++){
	    			var device = datas.list[i];
	    			html += '<div class="binding">';
	    			html += '	<img src="'+device.icon+'" alt=""/>';
	    			html += '	<div class="txt">';
    				html += '		<p class="who">'+device.name+'</p>'
    				html += '		<p class="code">'+device.identity+'</p>';
    				if(device.defaultDevice==1)
    					html += '		<p class="join on" onclick="connect(this)">连接中</p>';
    				if(device.defaultDevice==0)
    					html += '		<p class="join" onclick="connect(this)">设为自动连接</p>';
    				html += '	</div>';
   					html += '	<em class="unbindBtn" data="'+device.identity+'">解绑</em>';
 					html += '</div>';
	    		}
	    		$(".items").html(html);
	    		
	    		$(".items .unbindBtn").unbind("click");
	    		$(".items .unbindBtn").click(function(){
	    			if($(this).prev().children().last().hasClass("on")){
	    				alert("设备使用中，不可解绑");
	    				return;
	    			}
	    			var identity = $(this).attr("data");
	    			var l2 = $.loading({content:'解绑中...'}).show();
	    			$.ajax({
	    				type: "POST",
	    			    url: "/yashua/device/unbind",
	    			    data: {identity:identity},
	    			    success: function(r1){
	    			    	l2.hide();
	    			    	if(r1.errcode == 0){
	    			    		alert("解绑成功");
	    			    		window.location.reload();
	    			    		return;
	    			    	}
	    			    	alert(r1.errmsg);
	    			    }
	    			});
	    			
	    		});
			}else{
				alert(r.errmsg);
			}
		}
	});
	
	$("#addYashuaBtn").click(function(){
		var dia = $(".ui-dialog").dialog("show");
		dia.on("dialog:action",function(e){
			if(e.index == 2){//0==关闭，1==取消，2==确定
				
				var l3 = $.loading({content:'设备绑定中...'}).show();
				var identity = $("input[name=identity]").val();
				$.ajax({
					type: "POST",
				    url: "/yashua/device/bind",
				    data: {identity:identity},
				    success: function(r){
				    	l3.hide();
				    	if(r.errcode == 0){
				    		alert("设备绑定成功");
				    		window.location.reload();
				    		return;
				    	}
				    	alert(r.errmsg);
				    }
				});
			}
	    });
	});
		
});


//设备链接
   function connect(obj){
	var identity = $(obj).prev().text();
	var l3 = $.loading({content:'设备链接中...'}).show();
	$.ajax({
		type: "POST",
	    url: "/yashua/device/connect",
	    data: {identity:identity},
	    success: function(r){
	    	l3.hide();
	    	$(".join").removeClass("on");
	    	$(".join").text("设为自动连接");
	    	if(r.errcode == 0){
	    		alert("设备链接成功");
	    		$(obj).text("连接中");
	    		$(obj).addClass("on");
	    		return;
	    	}
	    	alert(r.errmsg);
	    }
	});
}
</script>
</body>
</html>

