<!DOCTYPE html>
<html>
<head>
<#include "/header.html">
<script type="text/javascript" src="/statics/js/libs/oauth2_token_listener.js"></script>
<title>我的设备</title>
</head>
<body>
<div class="Top"><span></span>我的设备</div>
<div class="list">
    <div class="binding">
        <img src="/statics/images/yashua1.png" alt=""/>
        <p>朱莉<i></i>E17120059</p>
        <em>解绑</em>
    </div>
    <div class="binding">
        <img src="/statics/images/yashua2.png" alt=""/>
        <p>牙科队长<i></i>E17120059</p>
        <em>解绑</em>
    </div>
    <div class="binding">
        <img src="/statics/images/yashua3.png" alt=""/>
        <p>马克<i></i>E17120059</p>
        <em>解绑</em>
    </div>
    <div class="binding">
        <img src="/statics/images/yashua4.png" alt=""/>
        <p>小新<i></i>E17120059</p>
        <em>解绑</em>
    </div>
    
     <input type="button" value="添加绑定设备" class="font-30" />    
   
</div>
</body>
</html>

