<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<script type="text/javascript" src="/statics/new_js/libs/oauth2_token_listener.js"></script>
<link rel="stylesheet" href="/statics/plugins/dropload/dropload.css" type="text/css">
<script type="text/javascript" src="/statics/plugins/dropload/dropload.min.js"></script>
<title>消息通知</title>
</head>
<body>
<div class="Top"><h3 onclick="javascript:window.location.href='/account.html'">消息通知</h3></div>
<div id="wrapper">
	<div class="msg-tongzhi">
		<div class="tongzhi">
	    	<p><span>系统通知</span><i>2018-10-26 09:22:36</i></p>
	        <h4>有关牙齿的基本知识给您推送一遍精选文章一遍精选文章</h4>
	        <a href="xiaoxixiangqing.html">查看详情</a>
	    </div>
	    
		<div class="tongzhi">
	    	<p><span>系统通知</span><i>2018-10-26 09:22:36</i></p>
	        <h4>有关牙齿的基本知识给您推送一遍精选文章一遍精选文章</h4>
	        <a href="xiaoxixiangqing.html">查看详情</a>
	    </div>
	    
	    <div class="tongzhi">
	    	<p><span>系统通知</span><i>2018-10-26 09:22:36</i></p>
	        <h4>有关牙齿的基本知识给您推送一遍精选文章一遍精选文章</h4>
	        <a href="xiaoxixiangqing.html">查看详情</a>
	    </div>
	</div>
</div>
<script type="text/javascript">
$(function(){

    // dropload
	var offset = 0;
	$('.msg-tongzhi').html('');
    $('#wrapper').dropload({
        scrollArea : window,
        loadDownFn : function(me){
            // 拼接HTML
        	$.ajax({
                type: 'POST',
                url: '/account/inform/list',
                data:{offset:offset,size:10},
                dataType: 'json',
                success: function(response){
                    var arrLen = response.data.length;
                    var html = "";
                    if(arrLen > 0){
                    	for(var i=0;i<response.data.length;i++){
                    		var item = response.data[i];
                    		html += '<div class="tongzhi">';
                    		html += '	<p><span>系统通知</span><i>'+new Date(parseInt(item.createTime,10)).format("yyyy-MM-dd  hh:mm:ss")+'</i></p>';
                    		html += '    <h4>'+item.title+'</h4>';
                    		html += '    <a href="/account/inform/info.html?id='+item.id+'">查看详情</a>';
                    		html += '</div>';
                    	}
                    	if(arrLen < 10){
                    		// 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                    	}
                    	offset += arrLen;
                    // 如果没有数据
                    }else{
                        // 锁定
                        me.lock();
                        // 无数据
                        me.noData();
                    }
                    
                    // 为了测试，延迟1秒加载
                    // 插入数据到页面，放到最后面
                    $('.msg-tongzhi').append(html);
                    // 每次数据插入，必须重置
                    me.resetload();
                }
            });
        }
    });
});
</script>
</body>
</html>

