<!DOCTYPE html>
<html>
<head>
<#include "/header.html">
<script type="text/javascript" src="/statics/js/libs/oauth2_token_listener.js"></script>
<title>个人信息</title>
</head>
<body>
<div class="Top"><span>&nbsp;</span>个人信息<a href="">编辑</a></div>
<ul class="xinxi font-30">
	<li class="toux"><p>头像</p><input type="text"></li>
    <li><p>昵称</p><input type="text"></li>
    <li>
    	<p>性别</p>
        <span>
        <input type="radio" id="Mr" name="radio" value="男" checked><label for="Mr"> 男</label>
		<input type="radio" id="Miss" name="radio" value="女"><label for="Miss"> 女</label>
        </span>
    </li>
    <li><p>生日</p><input type="text"></li>
    <li><p>手机号</p><input type="text"></li>
    <li><p>真实姓名</p><input type="text"></li>
    <li><p>身份证号</p><input type="text"></li>
</ul>
<div class="tuichu" style="background-color:#fa2c66;">保存</div>
</body>
</html>

