<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<script type="text/javascript" src="/statics/new_js/libs/oauth2_token_listener.js"></script>
<script type="text/javascript" src="/statics/new_js/libs/signIn.js"></script>
<title>签到</title>
</head>
<body>
<div class="Top"><h3 onclick="javascript:window.location.href='/found.html'">日常签到</h3></div>
<div class="qiandao center"> 
	<div class="qd-top">
		<h3>已签到</h3>
		<p class="font-28">本月共赚积分   <i class="score"></i>    本月击败全国    <i class="rankInfo"></i>  的用户</p> 
	</div>
	<div class="year font-36">
		<a class="pre"></a>		
		<a class="next"></a>
		<div class="showTime"></div>
	</div>
    <table class="font-34" border="1" cellpadding="0" cellspacing="0">
      <thead>
	      <tr class="head">
	        <td>日</td>
	        <td>一</td> 
	        <td>二</td>
	        <td>三</td>
	        <td>四</td>
	        <td>五</td>
	        <td>六</td>
	      </tr>
      </thead>
      <tbody class="signTbody">
      </tbody>
    </table>
    <!-- 
    <div class="jibai font-26">	
        <p><img src="/statics/images/jibai.png" alt=""/>本月共赚积分<span class="score">520</span></p>
        <p class="rankInfo">本月击败全国75%的用户</p>
    </div> 
     -->   
</div>

<div class="ui-dialog">
    <div class="ui-dialog-cnt" style="background-color: #201f24;">
	    <header class="ui-dialog-hd ui-border-b">
           <h3>签到成功</h3>
           <i class="ui-dialog-close" data-role="button"></i>
       </header>
        <div class="ui-dialog-bd" style=" text-align: center;">
            <div>
            	<p>恭喜您</p>
            	<p>今日签到成功</p>
			</div>
        </div>
    </div>        
</div>

<script type="text/javascript">
var dia,signIn,l1;
function drawCell(e){console.info(e);
	var html = "";
	for(var y=0;y<e.calendar.length;y++){
		html += "<tr>";
		for(var x=0;x<e.calendar[y].length;x++){
			var cell = e.calendar[y][x];
			if(cell.date==null){
				html+="<td></td>";
				continue;
			}
			var isSign = cell.isSign ? ' class="on"' : '';
			var date = cell.date ? cell.date : "&nbsp;";
			html += '<td'+isSign+'><span>'+date+'</span></td>';
		}
		html += "</tr>";
	}
	$(".showTime").text(e.show.iYear+"年"+e.show.iMonth+"月");
	$(".signTbody").html(html);
}

function ajaxSign(date){
	var time = date.format("yyyyMM");
	l1.show();
	$.ajax({
		url:"/sign/findMonthInfoByUserId",
		data:{time:time},
		success:function(r){
			l1.hide();
			if(r.errcode == 0){
				var signTimes = [];
				if(r.data.uInfo){
					var uSign = r.data.uInfo;
					for(var i=0;i<uSign.logs.length;i++){
						var log = uSign.logs[i];
						signTimes[i] = new Date(parseInt(log.createTime));
					}
				}
				var score,jibai ;
				if(r.data.zRank){
					var zRank = r.data.zRank;
					var rank = zRank.rank;
					score = zRank.score;
					jibai = rank> 0 ? ((zRank.size - (zRank.size - rank -1))/zRank.size).toFixed(2) * 100 : 0;
				}else{
					score = 0;
					jibai = 0;
				}
				$(".score").text(score);
				$(".rankInfo").text(jibai+"%");
				signIn._init({
					iYear: date.getFullYear(),
					iMonth: date.getMonth(),
					signTimes:signTimes
				});
				signIn.load(function(e){
					drawCell(e);
				});
			}
		}
	});
}
$(function(){
	l1 = $.loading();
	dia = $(".ui-dialog");
	var time = new Date();
	signIn = new SignIn();
	
	$(".year .pre").click(function(){
		signIn.prev(function(e) {
			time = new Date(e.show.iYear,e.show.iMonth-1,1);
			ajaxSign(time);
		});
	});
	$(".year .next").click(function(){
		signIn.next(function(e) {
			time = new Date(e.show.iYear,e.show.iMonth-1,1);
			ajaxSign(time);
		});
	});
	
	$.ajax({
		url:"/sign/in",
		success:function(r){
			
			ajaxSign(time);
			
			if(r.errcode == 0){
				dia.dialog("show");
			}
		}
	});

});
</script>
</body>
</html>


