<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<script type="text/javascript" src="/statics/new_js/libs/carts.js"></script>
<title>购物车</title>
</head>
<body class="bg-gray">
	<div class="Top">
		<h3 onclick="javascript:history.go(-1);">购物车</h3><a href="javascript:void(0)" onClick="edit()"
			id="edit">管理</a>
	</div>

	<div class="bg-white font-26 gouwuche">
	</div>

	<!--结算-->
	<div id="jiesuan" style="display: block"
		class="gouwuche-buy bg-white font-30">
		<span class="checkAllBtn">全选</span>
		<!--class='on'状态变为全选-->
		<p>
			合计：￥<i class="totalMoney">0</i>
		</p>
		<a href="javascript:void(0);" class="confirmBtn">去结算</a>
	</div>

	<!--删除-->
	<div class="gouwuche-buy bg-white font-30" id="shanchu"
		style="display: none">
		<span>全选</span>
		<!--class='on'状态变为全选-->
		<a href="javascript:void(0)" class="deleteBtn">删除</a>
	</div>

</body>
<script type="text/javascript">
	function edit() {
		var edit = document.getElementById("edit");
		if (edit.innerHTML == "管理") {
			edit.innerHTML = "完成";
			document.getElementById("jiesuan").style.display = "none";
			document.getElementById("shanchu").style.display = "block";
		} else {
			edit.innerHTML = "管理";
			document.getElementById("jiesuan").style.display = "block";
			document.getElementById("shanchu").style.display = "none";
		}

	}
	
	function calMoney(){
		var totalMoney = 0;
		var checkboxs = $("em.on");
		checkboxs.each(function(i,e){
			var box = $(e).parents(".gouwuche-box");
			var pid = box.attr("pid");
			var price = parseInt($(".price",box).text(),10),
				amount = parseInt($("input[name=amount]",box).val(),10);
			totalMoney += price * amount;
		});
		
		$(".totalMoney").text(totalMoney);
	}
	
	function isCheckAll(){
		if($("em.checkbox").not(".on").length == 0){
			$(".checkAllBtn").addClass("on");
		}else{
			$(".checkAllBtn").removeClass("on");
		}
	}
	
	function cartDraw(datas){
		var html = "";
		var isBlur = false;
		for(var i=0;i<datas.length;i++){
			var item = datas[i];
			html += '<div class="gouwuche-box" pid="'+item.cart.productSpecId+'">';
			html += '	<em class="checkbox';
			if(item.cart.checkStatus == 1){
				html += '	on';
			}
			var num = item.cart.buyNumber;
			if(item.cart.buyNumber > item.spec.stock){
				num = item.spec.stock;
				isBlur = true;
			}
			html += '"></em>';
			html += '	<a href="/mall/info/'+item.product.id+'.html">';
			html += '		<img src="'+item.product.showPic+'" alt="" />';
			html += '	</a>';
			html += '	<div class="txt">';
			html += '		<span>'+item.product.name+'</span> <i>'+item.specName+'：'+item.sepcAttrName+'</i>';
			html += '	</div>';
			html += '	<div class="Num">';
			html += '       <b class="less" onClick="change(1,1)">-</b>';
    		html += '       	<input type="text" value="'+num+'" max="'+item.spec.stock+'" min="1" name="amount">';
    		html += '       <b class="add" onClick="change(1,2)">+</b>';
			html += '	</div>';
			html += '	<p>￥<span class="price">'+item.spec.price+'</span></p>';
			html += '</div>';
		}
		$(".gouwuche").html(html);
		
		calMoney();
		
		isCheckAll();
		
		$("input[name=amount]").on("blur",function(){
			var s = $(this).val();
			if(isNaN(s)){
				s = s.replace(/[^\d.]/g,"");
			}
			$(this).val(s);
			var box = $(this).parents(".gouwuche-box");
			var pid = box.attr("pid");
			var checkStatus = $("em",box).hasClass("on")? 1 :0;
			carts.put(pid,$(this).val(),checkStatus,3);
			carts.syncServer();
		});
		
		if(isBlur){
			$("input[name=amount]").trigger("blur");
		}
		
		
		$("b.add").click("tap",function(){
			var iput = $(this).parent(".Num").find("input");
			var num = parseInt(iput.val(),10),
				max = parseInt(iput.attr("max"),10);
			if(num >= max){
				return;
			}
			++num;
			iput.val(num);
			calMoney();
			var box = $(this).parents(".gouwuche-box");
			var pid = box.attr("pid");
			var checkStatus = $("em",box).hasClass("on")? 1 :0;
			carts.put(pid,1,checkStatus,0);
			carts.syncServer();
		});
		$("b.less").click("tap",function(){
			var iput = $(this).parent(".Num").find("input");
			var num = parseInt(iput.val(),10),
				min = parseInt(iput.attr("min"),10);
			if(num <= min){
				return;
			}
			--num;
			iput.val(num);
			calMoney();
			var box = $(this).parents(".gouwuche-box");
			var pid = box.attr("pid");
			var checkStatus = $("em",box).hasClass("on")? 1 :0;
			carts.put(pid,1,checkStatus,1);
			carts.syncServer();
		});
		
		$("em.checkbox").click("tap",function(){
			var checked = $(this).hasClass("on");
			if(checked){
				$(this).removeClass("on");
			}else{
				$(this).addClass("on");
			}
			calMoney();
			isCheckAll();
			checked = $(this).hasClass("on");
			var box = $(this).parents(".gouwuche-box");
			var pid = box.attr("pid");
			var checkStatus = checked? 1 :0;
			carts.put(pid,0,checkStatus,3);
			carts.syncServer();
		});
	}
	
	function loadCart(){
		$.ajax({
	    	url: "/mall/cart/mylist",
	    	type: "get",
	    	success: function(r){
	    		if(r.errcode == 0){
	    			if(r.data.length == 0){
	    				carts.syncServer(function(){
	    					loadCart();
	    					carts.clearTemp();
	    				});
	    			}else{
	    				var products = carts.getTemp();
		    			if(products){
		    				var result = confirm("您有尚未同步的商品，是否同步？");
		    				if(result){
		    					var l1 = $.loading().show({content:"数据同步中..."});
		    					carts.syncServer(function(){
		    						l1.hide();
		    						carts.clearTemp();
		    						loadCart();
		    					});
		    					return;
		    				}else{
		    					carts.clearTemp();
		    				}
		    			}
		    			cartDraw(r.data);
	    			}
	    		}
	    	}
		});
	}
	
	$(function(){
		if(login.isLogin()){
			loadCart();
		}else{
			var products = carts.get();
			if(products){
				var items = products.items;
				var ids = [];
				for(var i=0;i<items.length;i++){
					ids[i] = items[i].productSpecId;
				}
				var l1 = $.loading({content:"加载中..."}).show();
				$.ajax({
			    	url: "/mall/cart/product/list",
			    	type: "POST",
			    	contentType: "application/json",
				    data: JSON.stringify(ids),
			    	success: function(r){
			    		l1.hide();
			    		if(r.errcode == 0){
			    			for(var i=0;i<r.data.length;i++){
			    				var a = products.get(r.data[i].cart.productSpecId);
			    				r.data[i].cart.buyNumber = a.buyNumber;
			    				r.data[i].cart.checkStatus = a.checkStatus;
			    			}
			    			cartDraw(r.data);
			    		}
			    	}
				});
			}
		}
		
		$(".deleteBtn").click(function(){
			var checkboxs = $("em.on");
			if(checkboxs.length == 0){
				alert("请选删除的产品");
				return;
			}
			checkboxs.each(function(i,e){
				var box = $(e).parents(".gouwuche-box");
				var pid = box.attr("pid");
				var result = carts.remove(pid);
				if(result){
					box.remove();
				}
			});
			carts.syncServer();
		});
		
		$(".confirmBtn").click(function(){
			var checkboxs = $("em.on");
			if(checkboxs.length == 0){
				alert("请选结算的产品");
				return;
			}
			if(!login.isLogin()){
				parent.location.href = loginCallUri();
				return;
			}
			var pos = [];
			checkboxs.each(function(i,e){
				var box = $(e).parents(".gouwuche-box");
				pos[i] = {productSpecId:box.attr("pid"),buyNumber:$("input[name=amount]",box).val()};
			});
			var l2 = $.loading({content:"结算中..."}).show();
			$.ajax({
		    	url: "/mall/order/create",
		    	type: "POST",
		    	contentType: "application/json",
			    data: JSON.stringify(pos),
		    	success: function(r){
		    		l2.hide();
		    		if(r.errcode == 0){
		    			window.location.href="/order/confirm.html?orderNo="+r.data.orderNo;
		    			return;
		    		}
		    		alert(r.errmsg);
		    	}
			});
			
		});
		
		$(".checkAllBtn").click(function(){
			var checked = $(this).hasClass("on");
			if(checked){
				$(this).removeClass("on");
				$("em.on").click();
			}else{
				$(this).addClass("on");
				$("em.checkbox").not(".on").click();
			}
		});
	})
</script>
</html>
