<!DOCTYPE html>
<html>
<head>
<#include "/header.html">
<title>评价列表</title>
</head>
<body>
<div class="Top"><span></span>评价</div>
<!--总计评价-->
<div class="Total bg-white font-26"><p>共计210条评论</p></div>

<div class="babytalk bg-white">
	<div class="name font-24">
    	<img src="images/touxiang.png" alt=""/>
        <p>138****1234 <span>笨鸟先飞</span></p>
    </div>
    <div class="time font-22 c-9">2018-07-13 颜色分类：蓝色 </div>
    <div class="txt font-26">宝贝特别好用，支持！！</div>
</div>
<div class="babytalk bg-white">
	<div class="name font-24">
    	<img src="images/touxiang.png" alt=""/>
        <p>138****1234 <span>我的昵称</span></p>
    </div>
    <div class="time font-22 c-9">2018-07-13 颜色分类：蓝色 </div>
    <div class="txt font-26">宝贝特别好用，支持！！</div>
</div>
<div class="babytalk bg-white">
	<div class="name font-24">
    	<img src="images/touxiang.png" alt=""/>
        <p>138****1234 <span>晓晓飞</span></p>
    </div>
    <div class="time font-22 c-9">2018-07-13 颜色分类：蓝色 </div>
    <div class="txt font-26">宝贝特别好用，支持！！宝贝特别好用，支持！！宝贝特别好用，支持！！宝贝特别好用，支持！！宝贝特别好用，支持！！宝贝特别好用，支持！！宝贝特别好用，支持！！宝贝特别好用，支持！！宝贝特别好用，支持！！</div>
</div>




</body>
</html>
