<!DOCTYPE html>
<html>
<head>
<#include "/header.html">
<script type="text/javascript" src="/statics/js/libs/carts.js"></script>
<title>
<#if product??>
	<#if product.shareTitle??>  
	   ${product.shareTitle}
	</#if>
<#else>
商品详情
</#if>
</title>
</head>
<body>
<img alt="" src="${product.showPic}" style="display:none;">
<div style="display:none;">${product.shareDescription}</div>
<img alt="" src="/statics/images/good-or-tick.png" style="display: none;">
<div class="Top"><span onclick="javascript:history.go(-1);"
></span>商品详情</div>
<!--图片展示-->
<#if product.images??>
<div id="focus" class="thing bg-white">
    <div class="bd">
        <ul>
        	<#list product.images as img>
				<#if img.picImg??>  
	            <li><a href=""><img src="${img.picImg}"/></a></li>
	            </#if>
			</#list>
        </ul>
    </div>
    <div class="hd"><ul></ul></div>
</div>
</#if>
<!--文字介绍-->
<div class="thing-txt bg-white">
	<div class="txt-name">
    	<h3>${product.name}</h3>
        <span>分享</span>
    </div>
    <p class="money">￥<i id="showPrice">${product.showPrice}</i>.00<span>价格</span></p>
    <p class="free">快递 免运费<i>月销${product.attrs.salesVolume}笔</i>北京</p>    
</div>
<!--选择宝贝-->
<div id="specs"></div>

<!--宝贝评价-->
<a href="/mall/comment-list.html" style="color:#333;">
<div class="thing-cho bg-white" style="margin-bottom:0;">
	<span>宝贝评价（55）</span>
    <em></em>
</div>
<div class="babytalk bg-white" style="margin-bottom:1.5rem;">
	<div class="name font-24">
    	<img src="/statics/images/touxiang.png" alt=""/>
        <p>138****1234 <span>我的昵称</span></p>
    </div>
    <div class="time font-22 c-9">2018-07-13 颜色分类：蓝色 </div>
    <div class="txt font-26">宝贝特别好用，支持！！</div>
</div>
</a>
<!--购买-->
<div class="thing-mai bg-white">
	<span class="icon_kefu">客服</span>
	<a href="/mall/cart.html"><span class="icon_cart">购物车</span></a>
    <ul>
    	<li class="bg-gwc"><a href="javascript:joinCart();">加入购物车</a></li>
        <li class="bg-mai"><a href="javascript:buyOrder();">立即购买</a></li>
    </ul>
</div>

<div class="ui-loading-block">
    <div class="ui-loading-cnt">
        <i class="ui-loading-bright" style="background-image: url(/statics/images/good-or-tick.png);-webkit-background-size: auto 37px;"></i>
        <p>加入购物车成功</p>
    </div>
</div>

<script type="text/javascript">
	var id = ${product.id};
	function buyOrder(){
		window.location.href="/order/confirm.html";
	}
	function joinCart(specId){
		var productSpecIds = [];
		$(".aLi").each(function(i,e){
			productSpecId = $(e).attr("data");
			productSpecIds[i] = productSpecId;
		});
		var num = $("input[name=amount]").not(":hidden").val();
		if(!num){
			num = 1;
		}
		carts.put(productSpecIds.toString(),num);
		carts.syncServer();
		$(".ui-loading-block").dialog("show");
		setTimeout(function(){
			$(".ui-loading-block").dialog("hide");
		},2000);
		$(".xzpop[id=xzpop-"+specId+"] .bg-black").click();
	}
    
    var specs;
    $.ajax({
    	url: "/mall/product/info/specs",
    	type: "get",
    	data: {
    		id: id
    	},
    	success: function(r){
    		if(r.errcode == 0){
    			var datas = r.data;
    			specs = [];
    			function indexOf(id){
    				for(var i=0;i<specs.length;i++){
        				if(specs[i].id == id){
        					return i;
        				}
        			}
    				return -1;
    			}
    			function indexOf2(id){
    				for(var i=0;i<specs.length;i++){
    					for(var j=0;j<specs[i].data.length;j++){
            				if(specs[i].data[j].specAttrId == id){
            					return {i:i,j:j};
            				}
            			}
        			}
    				return null;
    			}
    			for(var i=0;i<datas.length;i++){
    				var idx = indexOf(datas[i].specificationId);
    				if(idx == -1){
    					specs[specs.length] = {
    						id: datas[i].specificationId,
    						name: datas[i].specName,
    						data: [datas[i]]
    					};
    				}else{
    					specs[idx].data[specs[idx].data.length] = datas[i];
    				}
    			}
    			var html = '';
    			for(var k=0;k<specs.length;k++){
    				var spec = specs[k];
	    			html += '<div class="thing-cho bg-white" id="st-spec-'+spec.id+'">';
	    			html += '	<span>选择 '+spec.name+' <i class="showSelect"></i></span>';
	    			html += '   <em></em>';
	    			html += '</div>';
	    			html += '<!--选择弹窗-->';
		    		html += '<div class="xzpop" id="xzpop-'+spec.id+'">';
		    		html += '	<div class="bg-black"></div>';
		    		html += '	<div class="txt bg-white font-26">';
		    		html += '   	<!--关闭按钮-->';
		    		html += '   	<em><img src="/statics/images/tousu-close.png" alt=""/></em>';
		    		html += '       <!--颜色分类-->';
		    		html += '   	<dl>';
		    		html += '        	<dt>'+spec.name+'</dt>';
		    		html += '           <dd>';
		    		for(var j=0;j<spec.data.length;j++){
		    			var att = spec.data[j];
			    		html += '	            	<span '+(j==0?'class="aLi"': '')+' id="attr_'+att.specAttrId+'" data="'+att.productSpecId+'">'+att.specAttrName+'</span>';
		    		}
		    		html += '           </dd>';
		    		html += '       </dl>';
		    		html += '       <!--购买数量-->';
		    		if(spec.data[0].stock > 0){
			    		html += '       <div class="gmai">';
			    		html += '       	<p>购买数量</p>';
			    		html += '           <div class="Num" style="margin-top:0; margin-right:.15rem;">';
			    		html += '               <b class="less">-</b>';
			    		html += '               <input type="text" value="1" max="'+spec.data[0].stock+'" min="1" name="amount">';
			    		html += '               <b class="add">+</b>';
			    		html += '           </div>';
			    		html += '       </div>';
		    		}
		    		html += '       <!--加入购物车-->';
		    		html += '       <a href="javascript:joinCart('+spec.id+')" class="jiaru">加入购物车</a>';
		    		html += '   </div>';
		    		html += '</div>';
    			}
	    		$("#specs").html(html);
	    		
	    		//商品数量点击事件
	    		$("b.add").click("tap",function(){
	    			var iput = $(this).parent(".Num").find("input");
	    			var num = parseInt(iput.val(),10),
	    				max = parseInt(iput.attr("max"),10);
	    			if(num >= max){
	    				return;
	    			}
	    			iput.val(++num);
	    		});
	    		$("b.less").click("tap",function(){
	    			var iput = $(this).parent(".Num").find("input");
	    			var num = parseInt(iput.val(),10),
	    				min = parseInt(iput.attr("min"),10);
	    			if(num <= min){
	    				return;
	    			}
	    			iput.val(--num);
	    		});
	    		
	    		//弹窗
	    		$("div[id^=st-spec-]").click(function(){
	    			var specId = $(this).attr("id").replace("st-spec-","");
	    			$("#xzpop-"+specId+" .bg-black").show();
	    			$("#xzpop-"+specId+" .txt").slideDown();
	    		})
	    		$(".xzpop .bg-black,.txt em").click(function(){
	    			var xzpop = $(this).parent(".xzpop");
	    			if(xzpop.length == 0){
	    				xzpop = $(this).parent().parent(".xzpop");
	    			}
	    			$(".bg-black",xzpop).hide();
	    			$(".txt",xzpop).slideUp();	
	    		});
	    		
	    		//选颜色
	    		$(".xzpop .txt dl span").click(function(){
	    			var id = $(this).attr("id").replace("attr_","");
	    			var pos = indexOf2(id);
	    			var item = specs[pos.i].data[pos.j];
	    			var e = $(this).parents(".xzpop");
	    			$("input",e).attr("max",item.stock);
	    			$(".showSelect","#st-spec-"+specs[pos.i].id).text(item.specAttrName);
	    			if(item.price > 0){
		    			$("#showPrice").text(item.price);
	    			}
	    			$(this).addClass("aLi").siblings().removeClass("aLi");	
	    		});
	    		$(".aLi").click();
    		}
    	}
    });
    TouchSlide({ 
        slideCell:"#focus",
        titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell:".bd ul", 
        effect:"left", 
        autoPlay:true,//自动播放
        autoPage:true, //自动分页c" 
    });
	
</script>
</body>
</html>
