<!DOCTYPE html>
<html>
<head>
    <title>我的新闻</title>
	<#include "/header.html">
	<link rel="stylesheet" href="/statics/plugins/jedate/jedate.css">
	<script src="/statics/plugins/jedate/jedate.js"></script>
	<script src="/statics/plugins/jedate/jedate.js"></script>
	<link href="/statics/plugins/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" charset="utf-8" src="/statics/plugins/umeditor/umeditor.config.js?_${.now?long}"></script>
    <script type="text/javascript" charset="utf-8" src="/statics/plugins/umeditor/umeditor.js"></script>
    <script type="text/javascript" charset="utf-8" src="/statics/plugins/umeditor/umeditor.min.js"></script>
    <script type="text/javascript" src="/statics/plugins/umeditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">作者</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="news.author" placeholder="作者"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">标题</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="news.title" placeholder="标题"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">内容</div>
                <div class="col-sm-10">
                	<script type="text/plain" id="myEditor" style="width:1000px;height:240px;">
					</script>
                </div>
            </div>
           
            
            
            <div class="form-group">
                <div class="col-sm-2 control-label">点击数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="news.clicks" placeholder="点击数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">点赞数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="news.praises" placeholder="点赞数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">回复数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="news.replies" placeholder="回复数"/>
                </div>
            </div>
            
            
            <div class="form-group">
                <div class="col-sm-2 control-label">分类ID</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="news.classId" placeholder="分类ID"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="/statics/js/modules/news/mypublish.js?_${.now?long}"></script>
</body>
</html>