<!DOCTYPE html>
<html>
<head>
    <title>商品规格表</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">商品规格编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="mallProductSpecification.productSpecNumber" placeholder="商品规格编号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">商品ID</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="mallProductSpecification.productId" placeholder="商品ID"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">规格</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="mallProductSpecification.specName" @click="selectSpecification" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">库存</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="mallProductSpecification.stock" placeholder="库存"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">销售量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="mallProductSpecification.salesVolume" placeholder="销售量"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">价格</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="mallProductSpecification.price" placeholder="价格"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">积分</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="mallProductSpecification.score" placeholder="积分"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">是否默认状态</div>
                <label class="radio-inline"> <input type="radio"
					name="defaultStatus" value="0" v-model="mallProductSpecification.defaultStatus" /> 不默认
				</label> 
				<label class="radio-inline"> <input type="radio"
					name="defaultStatus" value="1" v-model=mallProductSpecification.defaultStatus /> 默认
				</label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">商品状态</div>
                <label class="radio-inline"> <input type="radio"
					name="status" value="0" v-model="mallProductSpecification.status" /> 新增
				</label> 
				<label class="radio-inline"> <input type="radio"
					name="status" value="1" v-model="mallProductSpecification.status" /> 上架
				</label>
				<label class="radio-inline"> <input type="radio"
					name="status" value="2" v-model="mallProductSpecification.status" /> 下架
				</label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>
<!-- 选择规格-->
<div id="specificationLayer" style="display: none;padding:10px;">
	<ul id="specificationTree" class="ztree"></ul>
</div>
<script src="/statics/js/modules/mall/mallproductspecification.js?_${.now?long}"></script>
</body>
</html>