<!DOCTYPE html>
<html>
<head>
<title>评价</title>
<#include "/header.html">
<script type="text/javascript" src="/statics/js/libs/oauth2_token_listener.js"></script>
</head>
<body>
<div class="Top"><span></span>发表评价<a href="">完成</a></div>
<div class="pjia-top bg-white">
	<img src="images/yst-2.png" alt=""/>
    <p>美牙进口纳米智能电动牙刷头美牙进口纳米智能电动牙刷头</p>
</div>

<div class="tousu-online">
    <div class="wenzi"><textarea name="" id="" cols="30" rows="10" placeholder="请输入你想说的内容，给其他想买的小伙伴做个参考呗"></textarea></div>
    <ul class="tousu-pic">
    	<li><img src="images/yst-2.png" alt=""/><i></i></li>
        <li><img src="images/yst-2.png" alt=""/><i></i></li>
        <li><img src="images/yst-2.png" alt=""/><i></i></li>
        <li><img src="images/yst-2.png" alt=""/><i></i></li>
        <li><img src="images/yst-2.png" alt=""/><i></i></li>
        <li><img src="images/tousu-pic1.jpg" alt=""/></li>
    </ul>
</div>




</body>
</html>

