<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<title>关于我们</title>
</head>
<body>
<div class="Top" style="display: none;"><h3 onclick="javascript:history.go(-1);">关于我们</h3></div>
<div class="always">
	<h3>公司简介</h3>
    <p>现象智能科技（北京）有限公司是一家成立于2018年的智能硬件互联网企业。其初始团队是由五个极富创新性、创造力、执行力，在所从事的领域具备丰富的经验和成功案例的成员组成的。团队组建的初衷是希望集结各自的优势能力一起为推进社会进步、改善大众生活品质而创造出符合社会需求的、智能的、有趣的产品。并以所推出的每一款产品都能成为一种现象级的精品、颠覆或引领产品所在细分行业为目标。</p>
    <p>魔牙智能牙刷是现象智能科技团队经过近两年的市场调研、分析、功能规划、设计研发、产品定型后推出的第一款产品。该产品由魔牙智能牙刷硬件和魔牙移动互联网平台组成，硬件用于实现全自动刷牙和口腔数据采集，平台用于硬件状态和功能的掌握与设置、口腔健康数据的分析与展示、口腔健康知识的普及以及口腔清洁产品的一站式购买等。通过硬件改变传统的刷牙模式，平台则为使用者提供全新的互动体验，硬件和平台两者结合帮助使用者改善口腔健康状况，让刷牙成为一种生活乐趣！</p>
 	<h3>联系我们</h3>   
    <span>微信账号：magiteeth</span>
    <span>公司官网：www.phenointec.com</span>
    <span>企业邮箱：message@phenointec.com</span>  
    <span>办公地址：北京市南三环西路16号搜宝商务中心</span>
    <span>客服电话：400-808-3233</span>
    <span>客服时间：工作日9:30~17:30</span>
</div>

<script type="text/javascript">
$(function(){
	let showTop = url("showTop");
	if(showTop){
		$(".Top").show();
	}
})
</script>
</body>
</html>


