<!DOCTYPE html>
<html>
<head>
<#include "/header.html">
<script type="text/javascript" src="/statics/js/libs/oauth2_token_listener.js"></script>
<title>我的</title>
</head>
<body>
<div class="my-top font-30">
	<a href="/account/info.html" class="bianji"><img src="/statics/images/zx-bj.png" alt=""/></a>
    <span class="photo"><img src="/statics/images/touxiang.png" alt=""/></span>
    <h3>请叫我小美</h3>
    <p>已绑定：ABC889655</p>
</div>
<div class="my-txt bg-white">
	<ul>
		<li><a href="/yashua/my.html">我的牙刷<em></em></a></li>
        <li><a href="wodedingdan.html">我的订单<em></em></a></li>
        <li><a href="/account/inform.html">消息管理<em></em></a></li>
        <li><a href="/account/address.html">地址管理<em></em></a></li>
        <li><a href="/help.html">使用帮助<em></em></a></li>
        <li><a href="/about.html">关于我们<em></em></a></li>
	</ul>
</div>

<!--公用底部-->
<#assign footerflag=3/>
<#include "/footer.html">
</body>
</html>

