<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<title>使用帮助</title>
<style>
	*{margin: 0;padding: 0;}
	img{max-width:100%;height:auto;display: block;margin: 0 auto;}
</style>
</head>
<body>
<div class="Top"><h3 onclick="javascript:history.go(-1);">使用帮助</h3></div>
<div >
	<!--<img src="/statics/new_images/BZ00.jpg" alt=""/> -->
	<img src="/statics/new_images/BZ01.jpg" alt=""/>
	<img src="/statics/new_images/BZ02.jpg" alt=""/>
	<img src="/statics/new_images/BZ03.jpg" alt=""/>
	<img src="/statics/new_images/BZ04.jpg" alt=""/>
	<img src="/statics/new_images/BZ05.jpg" alt=""/>
	<img src="/statics/new_images/BZ06.jpg" alt=""/>
</div>

</body>
</html>




