<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<title>使用帮助</title>
<style type="text/css">
img{
	outline-width:0px;
  vertical-align:top;
}

</style>
</head>
<body>
<div class="Top"><h3 onclick="javascript:history.go(-1);">使用帮助</h3></div>
<div >
	<img src="/statics/new_images/help_1.jpg" alt=""/>
	<img src="/statics/new_images/help_2.jpg" alt=""/>
	<img src="/statics/new_images/help_3.jpg" alt=""/>
	<img src="/statics/new_images/help_4.jpg" alt=""/>
	<img src="/statics/new_images/help_5.jpg" alt=""/>
</div>
<!-- <div class="help font-36">
	<ul>
		<li><a href="/help/cjwt.html">常见问题</a></li>
        <li><a href="/help/syjc.html">使用教程</a></li>
        <li><a href="/help/gnjs.html">功能介绍</a></li>        
	</ul>
</div> -->

<!--客服弹窗-->
<!--<div class="pop-kefu font-28">
	<div></div>
	<ul>
    	<li><p>客服电话1</p><span>13255687943</span></li>
        <li><p>客服电话2</p><span>13255687943</span></li>
        <li class="last"><p>客服电话3</p><span>13255687943</span></li>
        <img src="/statics/new_images/kefu.png" alt=""/>
    </ul>
</div> -->

</body>
</html>
<!-- <script>
	$('.kefu-call').click(function(){
		$('.pop-kefu div').show();
		$('.pop-kefu ul').show();
	});
	$('.pop-kefu div').click(function(){
		$('.pop-kefu div').hide();
		$('.pop-kefu ul').hide();
	});
</script> -->




