<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<title>历史</title>
</head>
<body>
<div class="Top">历史</div>
<div class="lishi">
	<h3>近期口气记录</h3>
	<div class="jilu bg-new">
		<div class="date font-36 fl">10/26</div>
		<div class="time font-28 fl">
			<div class="timeAm">
				<label for="">刷牙前</label>
				<span><em style="width:0%"><i>0分</i></em></span>
			</div>
			<div class="timeAm timePm">
				<label for="">刷牙后</label>
				<span><em style="width: 0%"><i>0分</i></em></span>
			</div>
		</div>
	</div>
	
	<div class="jilu bg-new">
		<div class="date font-36 fl">10/27</div>
		<div class="time font-28 fl">
			<div class="timeAm">
				<label for="">刷牙前</label>
				<span><em style="width:0%"><i>0分</i></em></span>
			</div>
			<div class="timeAm timePm">
				<label for="">刷牙后</label>
				<span><em style="width: 0%"><i>0分</i></em></span>
			</div>
		</div>
	</div>
	
	<div class="jilu bg-new">
		<div class="date font-36 fl">10/28</div>
		<div class="time font-28 fl">
			<div class="timeAm">
				<label for="">刷牙前</label>
				<span><em style="width:0%"><i>0分</i></em></span>
			</div>
			<div class="timeAm timePm">
				<label for="">刷牙后</label>
				<span><em style="width: 0%"><i>0分</i></em></span>
			</div>
		</div>
	</div>

	<a href="lishijilu.html" class="more bg-new font-36 center">查看更多...</a>
</div>

<!--公用底部-->
<div class="bot-nav font-26">
	<ul>
		<li><a href="index.html">首页</a></li>
        <li class="on"><a href="history.html">历史</a></li>
        <li><a href="found.html">发现</a></li>
        <li><a href="account.html">我的</a></li>
	</ul>
</div>

<script type="text/javascript">
$(function(){
	var d = new Date(new Date().getTime()-24*60*60*1000*2);
	$(".jilu").each(function(i){
		$(this).children().eq(0).text(new Date(d.getTime()+24*60*60*1000*i).format("MM/dd"));
	});
	
	var l1 = $.loading().show();
	$.ajax({
		type: "GET",
	    url: "/yashua/userdata/list",
	    success: function(r){console.info(r);
	    l1.hide();
	    if(r.errcode == 0){
		    var datas = r.data;
		    for(var i=0;i<datas.list.length;i++){
		    	var data=datas.list[i];
		    	var date = new Date(parseInt(data.adddate,10)).format("MM/dd");
		    	$(".jilu").each(function(){
		    		if($(this).children().eq(0).text()==date){
		    			var hour=new Date(parseInt(data.adddate,10)).getHours();
		    		    var minutes=new Date(parseInt(data.adddate,10)).getMinutes();
		    			if(data.biaoshi==1 && data.fenshu!=0){
		    				$(this).find(".timeAm").children().eq(0).text(((hour < 10) ? "0" : "") + hour+((minutes < 10) ? ":0" : ":") + minutes);
		    				$(this).find("em").eq(0).children().text(data.fenshu+"分");
		    				$(this).find("em").eq(0).css('width',data.fenshu*10+"%");
		    			}
		    			if(data.biaoshi==2 && data.fenshu!=0){
		    				$(this).find(".timePm").children().eq(0).text(((hour < 10) ? "0" : "") + hour+((minutes < 10) ? ":0" : ":") + minutes);
		    				$(this).find("em").eq(1).children().text(data.fenshu+"分");
		    				$(this).find("em").eq(1).css('width',data.fenshu*10+"%");
		    			}
		    		}
		    	});
		    }
		 }else{
				alert(r.errmsg);
			}
	    }
	    	
	});
});

</script>
</body>
</html>

