<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<title>主页</title>
<script type="text/javascript" src="/statics/new_js/circles.js"></script>
</head>
<body>
<div class="Top">首页</div>
<!---->
<div class="sy-top bg-new">
	<div class="set center fl font-26">
    	<a href="yashuashezhi.html"><img src="/statics/new_images/sy-set.png" alt=""/></a>
        <p>设置我的牙刷</p>
    </div>
    <div class="con fl font-24">
    	<div class="conup">
        	<span>获得积分</span>
           <em><i>2400</i>分</em>
        </div>
        <div class="conup condow">
        	<span>获得积分</span>
           <em><i>20</i>次</em>
        </div>
    </div>
</div>
<!--剩余寿命-->
<div class="sy-syu">
	<div class="inBox bg-new fl">
    	<h3>牙刷电量</h3>
       <p><i>80</i>%</p>
    </div>
    <div class="inBox bg-new fr">
    	<h3>刷头剩余寿命</h3>
       <p><i>27</i>次</p>
       <span>更换</span>
    </div>
</div>

<!--检测-->
<div class="jiance">
    <article class="htmleaf-container">	
        <div id="canvas">
            <div class="circle" id="circles-1"></div>
            <div class="circle" id="circles-2"></div>
        </div>
        <img src="/statics/new_images/jiance.png" alt=""/>
	</article> 
    <input type="button" value="开始检测" />
</div>

<!--公用底部-->
<div class="bot-nav font-26">
	<ul>
		<li class="on"><a href="index.html">首页</a></li>
        <li><a href="history.html">历史</a></li>
        <li><a href="found.html">发现</a></li>
        <li><a href="account.html">我的</a></li>
	</ul>
</div>

<!--检测弹窗-->
<div class="pop-kefu font-36" style="text-align:center;">
	<div></div>
	<ul style="overflow:hidden;">
    	<li class="frist">刷头更换</li>
        <li>购买</li>
        <li class="last on">重置</li>
    </ul>
</div>



</body>
</html>
<script>
	$('.jiance input').click(function(){
		$('.pop-kefu div').show();
		$('.pop-kefu ul').show();
	});
	$('.pop-kefu li').click(function(){
		$('.pop-kefu div').hide();
		$('.pop-kefu ul').hide();
	});

 
	//
	var colors = [
			['#FFF', '#fb2653'], ['#FFF', '#11ff6c']
		],
		circles = [];
	
	for (var i = 1; i <= 2; i++) {
		var child = document.getElementById('circles-' + i),
		
			percentage = 8,//进度
			
			circle = Circles.create({
				id:         child.id,
				value:      percentage,
				radius:     getWidth(i),
				width:      2,
				colors:     colors[i - 1]
			});
	
		circles.push(circle);
	}
	window.onresize = function(e) {
		for (var i = 0; i < circles.length; i++) {
			circles[i].updateRadius(getWidth());
		}
	};
	//进度圆的大小
	function getWidth(i) {
		
		if(i==1){
			return window.innerWidth / 2.8;
			}
			return window.innerWidth / 3;
		}


</script>

