<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<title>主页</title>
<script type="text/javascript" src="/statics/new_js/circles.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>
</head>
<body>
<div class="Top">首页</div>
<!---->
<div class="sy-top bg-new">
	<div class="set center fl font-26">
    	<a  href="javascript:checkelectricity();"><img src="/statics/new_images/sy-set.png" alt=""/></a>
        <p>设置我的牙刷</p>
    </div>
    <div class="con fl font-24">
    	<div class="conup">
        	<span>获得积分</span>
           <em><i  id="shoujifen">0</i>分</em>
        </div>
        <div class="conup condow">
        	<span>刷牙次数</span>
           <em><i id="shuayaci">-</i>次</em>
        </div>
    </div>
</div>
<!--剩余寿命-->
<div class="sy-syu">
	<div class="inBox bg-new fl">
    	<h3>牙刷电量</h3>
       <p><i id="dianliang">-</i>%</p>
    </div>
    <div class="inBox bg-new fr">
    	<h3>刷头剩余寿命</h3>
       <p><i id="shouming">-</i>次</p>
       <span>更换</span>
    </div>
</div>

<!--检测-->
<div class="kedu">
	<h3>口气分析</h3>
	<div class="kouqi">
		<div class="fl kouqikedu font-20">
			<ul>
				<li style="width:30%;color:#63ed98;">清新</li>
				<li style="width:30%;color:#f4c319;">混浊</li>
				<li style="width:40%;color:#d92d2d;">口臭</li>
			</ul>
			<dl>
				<dd>0</dd>
				<dd>3</dd>
				<dd>6</dd>
				<dd>10</dd>
			</dl>
			<em class="green" style="width:4%;" id="kouqijc"><b><i id='kouqisz'>0</i>分</b></em>
		</div>
		<input type="button"  onclick="kaishiceliang(0);">
	</div>

	<div class="cl"></div>

	<h3>酒精浓度</h3>
	<div class="kouqi">
		<div class="fl kouqikedu font-20 jiujing">
			<ul>
				<li style="width:20%;color:#63ed98;">安全</li>
				<li style="width:60%;color:#d92d2d;">酒驾</li>
				<li style="width:20%;color:#6a7676;">醉驾</li>
			</ul>
			<dl>
				<dd>0</dd>
				<dd>20</dd>
				<dd>80</dd>
				<dd>100</dd>
			</dl>
			<em class="green" style="width:4%;" id="jiujingjc"><b><i id='jiujingsz'>0</i>mg/100ml</b></em>
		</div>
		<input class="jiu" type="button"  onclick="kaishiceliang(1);">
	</div>
</div>
<!--检测-->
<!-- <div class="jiance">
    <article class="htmleaf-container">	
        <div id="canvas">
            <div class="circle" id="circles-1"></div>
            <div class="circle" id="circles-2"></div>
        </div>
        <img src="/statics/new_images/jiance.png" alt=""/>
	</article> 
    <input type="button" value="开始检测"/>
</div> -->

<!--公用底部-->
<div class="bot-nav font-26">
	<ul>
		<li class="on"><a href="index.html">首页</a></li>
        <li><a href="history.html">历史</a></li>
        <li><a href="found.html">发现</a></li>
        <li><a href="account.html">我的</a></li>
	</ul>
</div>

<!--检测弹窗-->
<div class="pop-kefu font-36" style="text-align:center;" id="jcchuangkou">
	<div id="jcchuangkou2"></div>
	<ul style="overflow:hidden;"  id="jcchuangkou1">
    	<li class="frist">刷头更换</li>
       <a href="/mall/list.html"> <li>购买</li></a>
        <li class="last on" onclick="chongzhi();">重置</li>
    </ul>
</div>

<!--检测弹窗-->
<!-- <div class="pop-kefu font-36" style="text-align:center;" id="clchuangkou">
	<div id="clchuangkou2"></div>
	<ul style="overflow:hidden;" id="clchuangkou1">
    	<li class="frist">选择测量类型</li>
        <li onclick="kaishiceliang(0);">口气</li>
        <li onclick="kaishiceliang(1);"  class="last on">酒精</li>
    </ul>
</div> -->
 <div class="weui_cell_bd weui_cell_primary">
                    <textarea id="logtext" class="weui_textarea" placeholder="日志" rows="5"></textarea>
                </div> 
<div id="myparams" style="display: none">
 <span id="timestamp">1545048575</span>
 <span id="nonceStr">77b9f3dc71294e86</span>
 <span id="signature">8cd21a1f6b193a47bce5bc07e5afa68013dc25c1</span>
 <span id="appId">wx3916e075f64cf1b5</span>
  <span id="trueCardRandom"></span>
 
</div>

</body>
</html>
<script type="text/javascript">

function checkelectricity(){
	var dianliang = $("#dianliang").html();
	if(dianliang=="-"){
		alert("设备未连接");
	}
	else
	 window.location.href="yashuashezhi.html";
}

function mlog(m){
    var log=$('#logtext').val();
    //log=log+m;
    log =log+ "\n"+ m;
    $('#logtext').val(log);
}
//刷头弹窗
$('.inBox span').click(function(){
 $('#jcchuangkou').show();
 $('#jcchuangkou1').show();
 $('#jcchuangkou2').show();
});

	$('.jiance input').click(function(){
		$('#clchuangkou').show();
		$('#clchuangkou1').show();
		$('#clchuangkou2').show();
	});

	 var dianliang, shouming,shuayaci, jiujing, kouqi; 
	//
	/* var colors = [
			['#FFF', '#fb2653'], ['#FFF', '#11ff6c']
		],
		circles = [];
	
	for (var i = 1; i <= 2; i++) {
		var child = document.getElementById('circles-' + i),
		
			percentage = 0,//进度
			
			circle = Circles.create({
				id:         child.id,
				value:      percentage,
				radius:     getWidth(i),
				width:      2,
				colors:     colors[i - 1]
			});
	
		circles.push(circle);
	}
	window.onresize = function(e) {
		for (var i = 0; i < circles.length; i++) {
			circles[i].updateRadius(getWidth());
		}
	};
	//进度圆的大小
	function getWidth(i) {
		
		if(i==1){
			return window.innerWidth / 2.8;
			}
			return window.innerWidth / 3;
		} */

	 jQuery(document).ready(function(){
		 $.ajax({
				type: "GET",
			    url: "/account/user/info",
			    success: function(r){
			    	if(r.errcode == 0){
			    		$("#shoujifen").text(r.data.balance);
					}else{
						alert(r.errmsg);
					}
				}
			});

	   //base64_to_bytes_array('UgAFDQo=');
	  $.ajax({
		 type : "GET",
		url:"/oauth2/tokentick",
		data:{},
		success:function(r){
			if(r.errcode == 0){
				if(r.data.timestam){
					$("#shoujifen").text(r.data.jifen);
					 $("#timestamp").text(r.data.timestam);
					 $("#nonceStr").text(r.data.nonceSt);
					 $("#signature").text(r.data.signatur);
				}
				  //初始化库 
				 loadXMLDoc();
				 //初始化库结束
				 // $("#CallGetWXrefresh").on("click",function(e){  
				    //showdialog();
				setTimeout("my_openWXDeviceLib();my_installwxEvents();my_onReceiveDataFromWXDevice();my_getWXDeviceInfos();woshou();",2000);
			}
		}
	});
	
	     //1. 打开微信设备 
	     
	      
	     //2. 安装设备事件
	     
	      
	     //2.1安装状态改变事件 暂时不检测
	    // my_onWXDeviceStateChange(); 
	      
	     //3. 安装接收到数据事件 暂时 
	     
	      
	     //4. 刷新设备信息
	     
	      
	      
	       
	 // });
	   
	   
	   
	  
	 });
	 //微信硬件jsapi库
	function loadXMLDoc()
	{
	    var appId =jQuery("#appId").text();
	    var timestamp=jQuery("#timestamp").text();
	    var nonceStr =jQuery("#nonceStr").text();
	    var signature=jQuery("#signature").text();
	    wx.config({
	             beta: true,
	              debug: false,// 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	              appId: appId, 
	              timestamp: timestamp,
	              nonceStr: nonceStr,
	              signature: signature,
	              jsApiList: [
	                'openWXDeviceLib',
	                'closeWXDeviceLib',
	                'getWXDeviceInfos',
	                'getWXDeviceBindTicket',
	                'getWXDeviceUnbindTicket',
	                'startScanWXDevice',
	                'stopScanWXDevice',
	                'connectWXDevice',
	                'disconnectWXDevice',
	                'sendDataToWXDevice',
	                'onWXDeviceBindStateChange',
	                'onWXDeviceStateChange',
	                'onScanWXDeviceResult',
	                'onReceiveDataFromWXDevice',
	                'onWXDeviceBluetoothStateChange',
	              ]
	          });
	            // alert("初始化库结束");
	}
	//判断调用jsapi返回状态 true表示成功
	wx.error(function (res) {
	  alert("调用微信jsapi返回的状态:"+res.errMsg);
	});
	 
	/******************************分割线************************************************/
	/*********************************************************
	* 打开微信设备
	* 作者：wxh 2016-04-04
	* my_openWXDeviceLib
	* 入口参数：无
	* 出口参数：0表示打开成功；1表示打开失败
	*********************************************************/
	function my_openWXDeviceLib(){
	   var x=0; 
	   WeixinJSBridge.invoke('openWXDeviceLib', {}, 
	   function(res){
	      // alert("打开设备返回："+res.err_msg);
	      if(res.err_msg=='openWXDeviceLib:ok')
	        {
	          if(res.bluetoothState=='off')
	            {    
	            // alert("亲,使用前请先打开手机蓝牙！");  
	              x=1;
	              //isOver();
	            };
	          if(res.bluetoothState=='unauthorized')
	            {
	        	 // alert("亲,请授权微信蓝牙功能并打开蓝牙！");    
	              x=1;
	              //isOver();
	            }; 
	          if(res.bluetoothState=='on')
	            {
	              //showdialog("太着急啦","亲,请查看您的设备是否打开！");   
	            // alert("蓝牙已打开,未找到设备");
	              x=0;
	              //isOver();
	            };      
	        }
	      else
	        {
	          x=1; 
	        //  alert("亲,请授权微信蓝牙功能并打开蓝牙！");   
	        }
	    });
	   return x;  //0表示成功 1表示失败
	}
	 
	 
	/*********************************************************
	* 装载微信事件处理
	* 作者：wxh 2016-04-04
	* my_installwxEvents
	* 入口参数：无
	* 出口参数：无
	*********************************************************/
	 function my_installwxEvents(){
	   //1. 安装微信绑定事件
	   WeixinJSBridge.on('onWXDeviceBindStateChange', function(argv) {
	       //todo
	        }); 
	   //2. 扫描到某个设备      
	   WeixinJSBridge.on('onScanWXDeviceResult', function(argv) {
	        //todo
	        });
	   //3. 手机蓝牙状态改变事件    
	   WeixinJSBridge.on('onWXDeviceBluetoothStateChange', function(argv) {
	        //todo
	        });         
	 }
	  
	/*********************************************************
	* 接收到数据事件
	* 作者：wxh 2016-04-04
	* my_onReceiveDataFromWXDevice
	* 入口参数：无
	* 出口参数：无
	*********************************************************/ 
	function my_onReceiveDataFromWXDevice(){
		
	    WeixinJSBridge.on('onReceiveDataFromWXDevice', function(argv) {
	      var sss=argv.base64Data;
	      base64_to_bytes_array(sss);
	    mlog("接收的原始数据-->"+sss);
	        //var Bytes=base64_to_bytes_array(argv.base64Data);
	        //alert("硬件设备返回的base64数据"+argv.base64Data);
	      //  mlog("接收的数据-->"+pHex(base64_to_bytes_array(argv.base64Data)));
	       // recevResult=checkReceiveData(Bytes);
	        
	       
	      });
	}
	  
	 
	 
	/**********************************************
	* 取得微信设备信息
	* 作者：wxh 2016-04-04
	* my_getWXDeviceInfos
	* 入口参数：无
	* 出口参数：返回一个已经链接的设备的ID
	**********************************************/
	function my_getWXDeviceInfos(){
	    WeixinJSBridge.invoke('getWXDeviceInfos', {}, function(res){
	        var len=res.deviceInfos.length;  //绑定设备总数量
	        var decon = 0;
	        for(i=0; i<=len-1;i++)
	         {
	           //alert(i + ' ' + res.deviceInfos[i].deviceId + ' ' +res.deviceInfos[i].state); 
	           if(res.deviceInfos[i].state==="connected")
	            {
	        	   //连接的微信设备id
	              C_DEVICEID = res.deviceInfos[i].deviceId;
	          	  woshou();
	          	  decon=1;
	              break;   
	            }
	         }
	        if(decon==0){
            	setTimeout("my_openWXDeviceLib();my_installwxEvents();my_onReceiveDataFromWXDevice();my_getWXDeviceInfos();woshou();",2000);
            }
	    }); 
	  return;    
	}
	 
	 
	/***************************************************************
	 * 显示提示信息
	***************************************************************/
	function showdialog(DialogTitle,DialogContent){
	   var $dialog = $("#Mydialog");
	   $dialog.find("#dialogTitle").html(DialogTitle);
	   $dialog.find("#dialogContent").html(DialogContent);
	   $dialog.show();
	   $dialog.find(".weui_btn_dialog").one("click", function(){
	        $dialog.hide();
	   });
	}
	
		  
	 
	      function woshou(){

	           var Bytes=new Array();
	           
	            Bytes[0]=0x40;
	        
	            Bytes[1]=0x01;
	        
	            Bytes[2]=0x01;
	           
	            Bytes[3]=0x0d;
	            Bytes[4]=0x0a;
	       var x=senddataBytes(Bytes,C_DEVICEID);
	          
	      
	    }
	    function senddatap(biaoshi,valzhi){

	           var Bytes=new Array();
	           if(biaoshi==0){
	           
	            Bytes[0]=0x32;
	        }else{
	          
	            Bytes[0]=0x33;
	         }
	          
	           Bytes[1]=0x00;
	        
	         if(valzhi==1){
	         
	               Bytes[2]=0x01;
	            }else if(valzhi==2){
	             
	               Bytes[2]=0x02;
	            }else{
	            
	              Bytes[2]=0x03;
	            }
	            Bytes[3]=0x0d;
	            Bytes[4]=0x0a;
	       var x=senddataBytes(Bytes,C_DEVICEID);
	          
	         if(x===0){$("#lbInfo").html('x.完成')}
	         else {$("#lbInfo").html('x.失败')}; 
	    }
	         function kaishiceliang(biaoshi){
	        	 var dianliang = $("#dianliang").html();
	        	if(dianliang=="-"){
	        		alert("设备未连接");
	        		return;
	        	}
	        	 
	           var Bytes=new Array();
	            Bytes[0]=0x31;
	         
	            Bytes[1]=0x00;
	        
	           if(biaoshi==0){
	            Bytes[2]=0x01;
	           }else{
	               
	               Bytes[2]=0x02;
	            }
	             
	            Bytes[3]=0x0d;
	            Bytes[4]=0x0a;
	 	       $('.pop-kefu div').hide();
		       $('.pop-kefu ul').hide();
		       alert("待设备红灯长亮时吹气，并等待结果上传！");
		       //setTimeout("kouqitttt();",5000);
					
	       var x=senddataBytes(Bytes,C_DEVICEID);

	         if(x===0){}
	         else {}; 
	    }
	         
	        /*  function kouqitttt(){
	        	var  kouqit=3;
			      //$("#circles-2 span").html(kouqi);
			      if(0<= kouqit && kouqit<=3){
						$('#kouqijc').attr('class','green');
					}else if(3< kouqit && kouqit<=6){
						$('#kouqijc').attr('class','yellow');
					}else {
						$('#kouqijc').attr('class','red');
					}
					$('#kouqisz').html(kouqit);
					document.getElementById("kouqijc").style.width= kouqit+"4%";
	         } */
	         
	         function chongzhi(){
		           var Bytes=new Array();
		            Bytes[0]=0x34;
		         
		            Bytes[1]=0x00;
		            Bytes[2]=0x02;
		            Bytes[3]=0x0d;
		            Bytes[4]=0x0a;
		            $('.pop-kefu div').hide();
				    $('.pop-kefu ul').hide();
		       var x=senddataBytes(Bytes,C_DEVICEID);
		     
		         if(x===0){$("#lbInfo").html('x.完成')}
		         else {$("#lbInfo").html('x.失败')}; 
		    }
	   
	  /*******************************************************************
	 * 发送数据函数
	 * 作者：V型知识库 www.vxzsk.com 2016-04-04
	 * 入口参数：
	 *     cmdBytes: 需要发送的命令字节
	 *     selDeviceID: 选择的需要发送设备的ID 
	 * 出口参数：
	 *     返回: 0表示发送成功；1表示发送失败
	 *     如果成功，则接收事件应该能够收到相应的数据
	*******************************************************************/
	function senddataBytes(cmdBytes,selDeviceID){
	  //1. 如果输入的参数长度为零，则直接退出
	  if(cmdBytes.length<=0){return 1};
	 // alert("向微信发送指令数据");
	  //1.1 如果设备ID为空，则直接返回
	  if(selDeviceID.length<=0){return 1};
	  //2. 发送数据
	  var x=0;
	  WeixinJSBridge.invoke('sendDataToWXDevice', {
	            "deviceId":selDeviceID, 
	            "base64Data":bytes_array_to_base64(cmdBytes)
	            }, function(res){
	                //alert("向微信发送指令数据返回的状态"+res.err_msg);
	            if(res.err_msg=='sendDataToWXDevice:ok')
	               {
	                 
	                 x=0;
	                 //alert("数据发送成功");
	               }  
	            else
	               {
	                 
	                 x=1; 
	                // alert("数据发送失败");
	               } 
	        });  
	  return x;      
	}
	 
	 
	/**
	 *  Byte数组转Base64字符,原理同上 
	 * @Param [0x00,0x00]
	 * @return Base64字符串
	 **/
	function bytes_array_to_base64(array) {
	    if (array.length == 0) {
	        return "";
	    }
	    var b64Chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';
	    var result = "";
	    // 给末尾添加的字符,先计算出后面的字符
	    var d3 = array.length % 3;
	    var endChar = "";
	    if (d3 == 1) {
	        var value = array[array.length - 1];
	        endChar = b64Chars.charAt(value >> 2);
	        endChar += b64Chars.charAt((value << 4) & 0x3F);
	        endChar += "==";
	    } else if (d3 == 2) {
	        var value1 = array[array.length - 2];
	        var value2 = array[array.length - 1];
	        endChar = b64Chars.charAt(value1 >> 2);
	        endChar += b64Chars.charAt(((value1 << 4) & 0x3F) + (value2 >> 4));
	        endChar += b64Chars.charAt((value2 << 2) & 0x3F);
	        endChar += "=";
	    }
	 
	    var times = array.length / 3;
	    var startIndex = 0;
	    // 开始计算
	    for (var i = 0; i < times - (d3 == 0 ? 0 : 1); i++) {
	        startIndex = i * 3;
	 
	        var S1 = array[startIndex + 0];
	        var S2 = array[startIndex + 1];
	        var S3 = array[startIndex + 2];
	 
	        var s1 = b64Chars.charAt(S1 >> 2);
	        var s2 = b64Chars.charAt(((S1 << 4) & 0x3F) + (S2 >> 4));
	        var s3 = b64Chars.charAt(((S2 & 0xF) << 2) + (S3 >> 6));
	        var s4 = b64Chars.charAt(S3 & 0x3F);
	        // 添加到结果字符串中
	        result += (s1 + s2 + s3 + s4);
	    }
	 
	    return result + endChar;
	}
	 /**
	 *  Base64字符转Byte数组,原理同上 
	 * @Param Base64字符
	 * @return Base64字符串
	 **/
	function base64_to_bytes_array (input) { // 解码，配合decodeURIComponent使用
	    var base64EncodeChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
	    var output = "";
	    var chr1, chr2, chr3;
	    var enc1, enc2, enc3, enc4;
	    var i = 0;
	    input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
	    while (i < input.length) {
	        enc1 = base64EncodeChars.indexOf(input.charAt(i++));
	        enc2 = base64EncodeChars.indexOf(input.charAt(i++));
	        enc3 = base64EncodeChars.indexOf(input.charAt(i++));
	        enc4 = base64EncodeChars.indexOf(input.charAt(i++));
	        chr1 = (enc1 << 2) | (enc2 >> 4);
	        chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
	        chr3 = ((enc3 & 3) << 6) | enc4;
	        output = output + String.fromCharCode(chr1);
	        if (enc3 != 64) {
	            output = output + String.fromCharCode(chr2);
	        }
	        if (enc4 != 64) {
	            output = output + String.fromCharCode(chr3);
	        }
	    }
	    //alert(CharToHex(output));
	    return CharToHex(output);
	}
	function CharToHex(str) {
	    var out, i, h,j;
	    var toubiaozhi,kxieyi,jxieyi,dxieyi, kgaowei, kdiwei, jgaowei, jdiwei, dgaowei, sdiwei,sanwei,stgaowei,stdiwei;
	    out = "";
	    i = 0;
	    while(i < str.length) 
	    {
	        h = str.charCodeAt(i++).toString(16);
	        if(h=='aa'){
	        	toubiaozhi='aa';
	        }
	        if(h==54){
	          kxieyi=54;
	          j=i;
	        }else if(h==55){
	          jxieyi=55;
	          j=i;
	        }else if(h==51){
	          dxieyi=51; 
	          j=i;
	        }
	        if(kxieyi==54 && i-j==1){
	          kgaowei=h;
	        }
	        if(kxieyi==54 && i-j==2){
	          kdiwei=h;
	        }
	        if(jxieyi==55 && i-j==1){
	          jgaowei=h;
	        }
	        if(jxieyi==55 && i-j==2){
	          jdiwei=h;
	        }
	        if(dxieyi==51 && i-j==1){
	          dgaowei=h;
	        }
	        if(dxieyi==51 && i-j==2){
	          sdiwei=h;
	        }
	        if(dxieyi==51 && i-j==3){
		          sanwei=h;
		        }
	        if(dxieyi==51 && i-j==4){
		          stgaowei=h;
		        }
	        if(dxieyi==51 && i-j==5){
		          stdiwei=h;
		        }
	       
	        if(h.length==1){
	          h="0"+h;
	        }
	        out += "\\0x" + h;
	        out +=(i > 0 && i % 8 == 0)?"\r\n":", ";
	    }
	    if(toubiaozhi=='aa' && kxieyi==54){
	      kouqi=parseInt(kgaowei,16)*256+parseInt(kdiwei,16);
	      if(kouqi>10){
	    	  kouqi=9; 
	      }
	      //$("#circles-2 span").html(kouqi);
	      if(0<= kouqi && kouqi<=3){
				$('#kouqijc').attr('class','green');
			}else if(3< kouqi && kouqi<=6){
				$('#kouqijc').attr('class','yellow');
			}else {
				$('#kouqijc').attr('class','red');
			}
			$('#kouqisz').html(kouqi);
			document.getElementById("kouqijc").style.width= kouqi+"4%"; 
	      }
	    if(toubiaozhi=='aa' && jxieyi==55){
	      jiujing=parseInt(jgaowei,16)*256+parseInt(jdiwei,16);
	      if(jiujing>100){
	    	  jiujing=90; 
	      }
	      //$("#circles-1 span").html(jiujing);
	      if(0<= jiujing && jiujing<=20){
	    	  $('#jiujingjc').attr('class','green');
			}else if(20< jiujing && jiujing<=80){
				$('#jiujingjc').attr('class','red');
			}else {
				$('#jiujingjc').attr('class','gray');
			}
			$('#jiujingsz').html(jiujing);
			document.getElementById("jiujingjc").style.width= (Number(jiujing)+Number(4))+"%";
	      }
	    if(toubiaozhi=='aa' && dxieyi==51){
	      dianliang=parseInt(dgaowei,16);
	      if(dianliang>100){
	    	  dianliang=90; 
	      }
	      shouming=parseInt(stgaowei,16)*256+parseInt(stdiwei,16);
	      shuayaci=parseInt(sdiwei,16)*256+parseInt(sanwei,16);
	      }
	   
	    $("#dianliang").html(dianliang);
	    $("#shouming").html(shouming);
	    $("#shuayaci").html(shuayaci);
	   // $("#kouqi").html(kouqi);
	   // $("#jiujing").html(jiujing);
	    toubiaozhi='';
	  //保存口气数据
	  if(kouqi>=0){
		  $.ajax({
			type: "POST",
		    url: "/yashua/userdata/save",
		    data: {kouqi:kouqi},
		    success: function(r){
		    	
		    	 if(r.errcode == 0){
	
		    		
		    		//alert("保存成功");
		    		return;
		    	} 
		    //	alert(r.errmsg);
		    }
		});
	  }
	 mlog("收到的包值："+out);
	    return out;
	}

	
  
   
</script>

