<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<title>积分说明</title>
</head>
<body>
<div class="Top"><h3 onclick="javascript:history.go(-1);">积分规则说明</h3></div>
<div class="always">
	<h3>一.积分价值</h3>
    <p>（1）1个积分价值等同于现金0.1元。</p>
    <p>（2）积分可用于换购购物商城中的商品，也可用于在线医生咨询（2.0版本）。</p>
    	<h3>二.积分获取</h3>
    <p>（1）登录魔牙智能牙刷公众号，每次签到系统赠送2个积分。</p>
    <p>（2）完善个人注册信息将获系统赠送100积分。</p>
    <p>（3）发布关于魔牙智能牙刷产品的评论或分享口腔健康方面的知识，每篇稿子审核通过后获赠10个积分（2.0版本）。</p>
    <p>（4）在购物商城现金购买商品，赠送和所购商品成交价等额的积分。</p>
    <p>（5）现金购买积分，享受10%加赠积分优惠，例100元可购1100积分。</p>
    <p>（6）分享魔牙智能牙刷产品或公众号后达成的交易，获赠交易物品成交价10%等额的积分。</p>
    	<h3>三.积分换购</h3>
    <p>（1）只能积分换购或现金购买商品，两者不可一起使用。</p>
    <p>（2）积分换购商品将不再赠送积分。</p>
    <p>（3）积分换购商品将不参与平台的任何优惠活动。</p>
    	<h3>四.积分转赠</h3>
    <p>积分不可转赠。</p>
    	<h3>五.积分提现</h3>
    <p>积分不可提现。</p>
    <p>积分规则的最终解释权归现象智能科技（北京）有限公司所有。</p>
</div>


</body>
</html>


