<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/statics/new_images/sy-ys.png" type="image/x-icon"/>
<link rel="stylesheet" href="/statics/new_css/css.css" type="text/css">

<link rel="stylesheet" href="/statics/plugins/dialog/diglog.css" type="text/css">
<script type="text/javascript" src="/statics/new_js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/statics/new_js/Font.js"></script>
<script type="text/javascript" src="/statics/new_js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="/oauth2/system.js"></script>
<script type="text/javascript" src="/statics/new_js/libs/storge.js"></script>
<script type="text/javascript" src="/statics/new_js/libs/math.uuid.js"></script>
<script type="text/javascript" src="/statics/new_js/libs/common.js"></script>
<script type="text/javascript" src="/statics/new_js/libs/oauth2.js"></script>
<script type="text/javascript" src="/statics/new_js/libs/set.js"></script>
<script type="text/javascript" src="/statics/plugins/dialog/dialog.js"></script>
<script type="text/javascript" src="/statics/new_js/chart.js"></script>
<script type="text/javascript" src="/statics/new_js/jquery.SuperSlide.2.1.1.js"></script>
