<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="/oauth2/secret.js"></script>
<#include "/new_header.html">
<link rel="shortcut icon" href="images/logo_bank_gfyh.png" type="image/x-icon"/>
<title>注册</title>
<script type="text/javascript" src="/statics/new_js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/statics/new_js/Font.js"></script>
</head>
<body>
<div class="Top"><h3 onclick="javascript:history.go(-1);">注册</h3></div>

<div class="newUser">
	<p>注册新用户</p>
	<ul>
		<li>
			<input type="text" placeholder="请输入手机号码" maxlength="11" id="username"/>
			<span id="sendVFCodeBtn">发送验证码</span>
		</li>
		<li><input type="text" placeholder="请输入验证码" id="vfcode"/></li>
		<li><input type="password" placeholder="请输入密码" maxlength="16" id="password" value=""></li>
		<li><input type="password" placeholder="请输入确认密码" maxlength="16" id="st-password" value=""></li>
	</ul>
	<input class="denglu font-40" type="button" value="注册" id="register-button"/>
</div>
<script type="text/javascript">
$(function() {
	function sendSMS(){
		var _this = this;
		var mobile = $("#username").val();
		if( mobile == ''){
			alert('请输入手机号');
			return;
		}
		$.ajax({
			url:"/sms/send",
			data:{mobile:mobile,token:secret},
			success: function(data){
				if(data.errcode == '10012'){
					var num = data.data;
					$(_this).text(num+'秒');
					$(_this).unbind('click');
					timer = setInterval(function(){
						num--;
						$(_this).text(num+'秒');
						if(num <= 0 ){
							$(_this).text("重新发送验证码");
							$("#sendVFCodeBtn").bind('click',sendSMS);
							clearInterval(timer);
						}
					},1000)
					alert('短信发送频繁，请您于'+num+'秒后重试');
					return
				}else if(data.errcode == '0'){
					var num = 60;
					$(_this).text(num+'秒');
					$(_this).unbind('click');
					timer = setInterval(function(){
						num--;
						$(_this).text(num+'秒');
						if(num <= 0 ){
							$(_this).text("重新发送验证码");
							$(_this).bind('click',sendSMS);
							clearInterval(timer);
						}
					},1000)					
				}else{
					alert(data.errmsg);
				}
			} 
		});	
	}
	$("#sendVFCodeBtn").click(sendSMS);
	$('#register-button').click(function(event) {
		event.preventDefault();
		var username = $("#username").val();
		var password = $("#password").val();
		var vfcode = $("#vfcode").val();
		var stPassword = $("#st-password").val();
		
		if(username == '' || password == '' || vfcode == '') {
			//均不能为空
			alert('账号、密码和验证码不能为空!');
			//改变验证码
			return false;
		}
		if(password != stPassword){
			//均不能为空
			alert('前后密码不一致！');
			//改变验证码
			return false;
		}
		var l1 = $.loading({content:"注册中..."}).show();
		$.ajax({
			type : "GET",
			url : "/oauth2/encrypt",
			data : {
				encrypts : username + "," + encodeURIComponent(password),
				token : secret
			},
			dataType : "json",
			success : function(response) {
				l1.hide();
				var data = {};
				if (response.errcode == 0) {
					data.username = response.data[0];
					data.password = response.data[1];
					data.vfcode = vfcode;
					data.wxopenid = window.storage.get("login.wxopenid" , false, false);
					$.ajax({
						type : "POST",
						url : "/register/add",
						data : data,
						dataType : "json",
						success : function(result) {
							if (result.errcode == 0) {//注册成功成功
								login.setup(result.data);
								alert("恭喜您，注册成功!");
								var returnuri = url("returnuri");
								if(!returnuri){
									returnuri = '/index.html';
								}
								$(window).attr('location',returnuri);
							} else {
								alert(result.errmsg);
							}
						}
					});
				} else {
					alert(result.errmsg);
					if (response.errcode == 10015) {
						setTimeout(function() {
							parent.location.reload();
						}, 1000);
						return;
					}
				}
			}
		});
	});

});
</script>
</body>
</html>

