<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>
<script type="text/javascript" src="/statics/new_js/libs/oauth2_token_listener.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>
<title>设置</title>
<style type="text/css">
 .shezhi-moshi{position: relative;}
 .zhineng{width:1.3rem;height:.6rem;border:1px solid #63ed98;background: none;position:absolute;bottom:.2rem;right:.3rem;box-shadow:0 .05rem .05rem #000;border-radius:.05rem;}
 .zhineng:active{box-shadow:0 0 .05rem #000;}
 .yashuaname{width: 100%;height:.9rem;line-height:.9rem;background:#63ed98;color: #1e1e1f;text-align: center;display: block;}
 
</style>
</head>
<body>
<div class="Top"><h3 onclick="javascript:history.go(-1);">设置</h3><!-- <a href="">完成</a> --></div>
<div class="nichen font-36 center"  id="shebeihaot"><span id="shebeihaott">我的牙刷</span><em id="setyashuaname"></em></div>

<div class="shezhi-moshi center font-28">
	<p>牙刷模式</p>
    <span>开启您想要的牙刷模式</span>
    <input type="button" class="zhineng" value="智能设置"/>
</div>

<div class="qj-moshi font-26">
	<p>清洁模式</p>
	<ul>
		<li class="on" onclick="senddatap(0,0x01);" id="qinrou">轻柔</li>
		<li  onclick="senddatap(0,0x02);" id="biaozhun">标准</li>
		<li onclick="senddatap(0,0x03);" id="shendu">深度</li>
	</ul>
</div>

<div class="settime font-24 center">
	<p>刷牙时长</p>
	<ul>
		<li onclick="senddatap(1,0x01);" class="on" id="shimiao"><i>10秒</i></li><!--em宽为0-->
		<li onclick="senddatap(1,0x02);" id="shiwumiao"><i>15秒</i></li><!--em宽为25%-->
		<li onclick="senddatap(1,0x03);" id="ershimiao"><i>20秒</i></li><!--em宽为50%-->
		<li  onclick="senddatap(1,0x04);" id="ershiwumiao"><i>25秒</i></li><!--em宽为75%-->
		<li onclick="senddatap(1,0x05);" id="sanshimiao"><i>30秒</i></li><!--em宽为100%-->
		<em style="width:0%"></em>
	</ul>
</div>
<!-- <div class="weui_cell_bd weui_cell_primary">
                    <textarea id="logtext" class="weui_textarea" placeholder="日志" rows="5"></textarea>
                </div>   -->
<div id="myparams" style="display: none">
 <span id="timestamp">1545048625</span>
 <span id="nonceStr">a784287b835449eb</span>
 <span id="signature">92a9469ffc4938356e3718e1e711868bc0cef71f</span>
 <span id="appId">wx3916e075f64cf1b5</span>
  <span id="trueCardRandom"></span>
 
</div>
<!--遮罩层-->
<div class="pop-kefu" id="zhezhaoceng">
 <div class="font-28" style="display: block;">
  <p  style="text-align:center;width:66%;height:.8rem;line-height:.8rem; margin:auto; position:absolute;left:0;right:0;top:0;bottom:0;border:1px solid #fff;box-shadow:0 0 .1rem #fff;">数据上传中，请等待...</p >
 </div>
</div>
<!-- 牙刷名称设置 -->
<div class="ui-dialog">
    <div class="ui-dialog-cnt">
	    <header class="ui-dialog-hd ui-border-b">
                  <h3>设备名称</h3>
                  <i class="ui-dialog-close" data-role="button"></i>
              </header>
        <div class="ui-dialog-bd">
            <div><input type="text" class="yashuaname" name="name" maxlength="20" placeholder="请输入设备名称"/></div>
        </div>
        <div class="ui-dialog-ft">
            <button type="button" data-role="button">取消</button>
            <button type="button" data-role="button">设置</button>
        </div>
    </div>        
</div>  
</body>
</html>
<script type="text/javascript">

/* $(function () { 

	setTimeout(function(){  $("#zhezhaoceng").hide(); }, 3000);

}); */
function mlog(m){
    var log=$('#logtext').val();
    //log=log+m;
    log =log+ "\n"+ m;
    $('#logtext').val(log);
}
	 jQuery(document).ready(function(){

	   //base64_to_bytes_array('UgAFDQo=');
	  	  $.ajax({
		 type : "GET",
		url:"/oauth2/tokentick2",
		data:{},
		success:function(r){
			if(r.errcode == 0){
				if(r.data.timestam){
					 $("#timestamp").text(r.data.timestam);
					 $("#nonceStr").text(r.data.nonceSt);
					 $("#signature").text(r.data.signatur);
				}
				  //初始化库 
				 loadXMLDoc();
				 //初始化库结束
				 // $("#CallGetWXrefresh").on("click",function(e){  }
				    //showdialog();
				 setTimeout("my_openWXDeviceLib();my_installwxEvents();my_onReceiveDataFromWXDevice();my_getWXDeviceInfos();woshou();",2000);
			}
		}
	});
	 

	
	   
	   
	   
	  
	 });
	 //微信硬件jsapi库
	function loadXMLDoc()
	{
	    var appId =jQuery("#appId").text();
	    var timestamp=jQuery("#timestamp").text();
	    var nonceStr =jQuery("#nonceStr").text();
	    var signature=jQuery("#signature").text();
	    wx.config({
	             beta: true,
	              debug: false,// 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	              appId: appId, 
	              timestamp: timestamp,
	              nonceStr: nonceStr,
	              signature: signature,
	              jsApiList: [
	                'openWXDeviceLib',
	                'closeWXDeviceLib',
	                'getWXDeviceInfos',
	                'getWXDeviceBindTicket',
	                'getWXDeviceUnbindTicket',
	                'startScanWXDevice',
	                'stopScanWXDevice',
	                'connectWXDevice',
	                'disconnectWXDevice',
	                'sendDataToWXDevice',
	                'onWXDeviceBindStateChange',
	                'onWXDeviceStateChange',
	                'onScanWXDeviceResult',
	                'onReceiveDataFromWXDevice',
	                'onWXDeviceBluetoothStateChange',
	              ]
	          });
	            // alert("初始化库结束");
	}
	//判断调用jsapi返回状态 true表示成功
	wx.error(function (res) {
	  alert("调用微信jsapi返回的状态:"+res.errMsg);
	});
	 
	/******************************分割线************************************************/
	/*********************************************************
	* 打开微信设备
	* 作者：wxh 2016-04-04
	* my_openWXDeviceLib
	* 入口参数：无
	* 出口参数：0表示打开成功；1表示打开失败
	*********************************************************/
	function my_openWXDeviceLib(){
	   var x=0; 
	   WeixinJSBridge.invoke('openWXDeviceLib', {}, 
	   function(res){
	      if(res.err_msg=='openWXDeviceLib:ok')
	        {
	          if(res.bluetoothState=='off')
	            {    
	              showdialog("太着急啦","亲,使用前请先打开手机蓝牙！");  
	              $("#lbInfo").innerHTML="1.请打开手机蓝牙";
	              $("#lbInfo").css({color:"red"});
	              x=1;
	              //isOver();
	            };
	          if(res.bluetoothState=='unauthorized')
	            {
	              showdialog("出错啦","亲,请授权微信蓝牙功能并打开蓝牙！");    
	              $("#lbInfo").html("1.请授权蓝牙功能");
	              $("#lbInfo").css({color:"red"});
	              x=1;
	              //isOver();
	            }; 
	          if(res.bluetoothState=='on')
	            {
	              //showdialog("太着急啦","亲,请查看您的设备是否打开！");   
	              $("#lbInfo").html("1.蓝牙已打开,未找到设备");
	              $("#lbInfo").css({color:"red"});
	              //$("#lbInfo").attr(("style", "background-color:#000");
	              x=0;
	              //isOver();
	            };      
	        }
	      else
	        {
	          $("#lbInfo").html("1.微信蓝牙打开失败");
	          x=1; 
	          showdialog("微信蓝牙状态","亲,请授权微信蓝牙功能并打开蓝牙！");   
	        }
	    });
	   return x;  //0表示成功 1表示失败
	}
	 
	 
	/*********************************************************
	* 装载微信事件处理
	* 作者：wxh 2016-04-04
	* my_installwxEvents
	* 入口参数：无
	* 出口参数：无
	*********************************************************/
	 function my_installwxEvents(){
	   //1. 安装微信绑定事件
	   WeixinJSBridge.on('onWXDeviceBindStateChange', function(argv) {
	       //todo
	        }); 
	   //2. 扫描到某个设备      
	   WeixinJSBridge.on('onScanWXDeviceResult', function(argv) {
	        //todo
	        });
	   //3. 手机蓝牙状态改变事件    
	   WeixinJSBridge.on('onWXDeviceBluetoothStateChange', function(argv) {
	        //todo
	        });         
	 }
	  
	/*********************************************************
	* 接收到数据事件
	* 作者：wxh 2016-04-04
	* my_onReceiveDataFromWXDevice
	* 入口参数：无
	* 出口参数：无
	*********************************************************/ 
	function my_onReceiveDataFromWXDevice(){
		
	    WeixinJSBridge.on('onReceiveDataFromWXDevice', function(argv) {
	      var sss=argv.base64Data;
	      base64_to_bytes_array(sss);
	     //mlog("收到的原始数据："+sss);
	        //var Bytes=base64_to_bytes_array(argv.base64Data);
	        //alert("硬件设备返回的base64数据"+argv.base64Data);
	      //  mlog("接收的数据-->"+pHex(base64_to_bytes_array(argv.base64Data)));
	       // recevResult=checkReceiveData(Bytes);
	        
	       
	      });
	}
	  
	 
	 
	/**********************************************
	* 取得微信设备信息
	* 作者：wxh 2016-04-04
	* my_getWXDeviceInfos
	* 入口参数：无
	* 出口参数：返回一个已经链接的设备的ID
	**********************************************/
	function my_getWXDeviceInfos(){
	    
	    WeixinJSBridge.invoke('getWXDeviceInfos', {}, function(res){
	        var len=res.deviceInfos.length;  //绑定设备总数量
	        for(i=0; i<=len-1;i++)
	         {
	           //alert(i + ' ' + res.deviceInfos[i].deviceId + ' ' +res.deviceInfos[i].state); 
	           if(res.deviceInfos[i].state==="connected")
	            {
	              $("#lbdeviceid").html(res.deviceInfos[i].deviceId); 
	              C_DEVICEID = res.deviceInfos[i].deviceId;
	              $("#lbInfo").html("2.设备已成功连接");
	              $("#lbInfo").css({color:"green"});
	              woshou();
	             
	              break;   
	            }  
	         }
	            
	    }); 
	  return;    
	}
	 
	 
	/***************************************************************
	 * 显示提示信息
	***************************************************************/
	function showdialog(DialogTitle,DialogContent){
	   var $dialog = $("#Mydialog");
	   $dialog.find("#dialogTitle").html(DialogTitle);
	   $dialog.find("#dialogContent").html(DialogContent);
	   $dialog.show();
	   $dialog.find(".weui_btn_dialog").one("click", function(){
	        $dialog.hide();
	   });
	}
	 
	      function woshou(){
	           var Bytes=new Array();
	           
	            Bytes[0]=0x40;
	        
	            Bytes[1]=0x01;
	        
	            Bytes[2]=0x02;
	           
	            Bytes[3]=0x0d;
	            Bytes[4]=0x0a;
	       var x=senddataBytes(Bytes,C_DEVICEID);
	          
	      
	    }
	    function senddatap(biaoshi,valzhi){

	           var Bytes=new Array();
	           if(biaoshi==0){
	           
	            Bytes[0]=0x32;
	        }else{
	          
	            Bytes[0]=0x33;
	         }
	          
	           Bytes[1]=0x00;
	        
	         if(valzhi==1){
	        	 if(biaoshi==0){
	        		 $("#qinrou").attr('class','on');
	        		 $("#biaozhun").removeClass("on");
	        		 $("#shendu").removeClass("on");
		         }else if(biaoshi==1){
		        	 $("#shimiao").attr('class','on');
	        		 $("#shiwumiao").removeClass("on");
	        		 $("#ershimiao").removeClass("on");
	        		 $("#ershiwumiao").removeClass("on");
	        		 $("#sanshimiao").removeClass("on");
		         }
	               Bytes[2]=0x01;
	            }else if(valzhi==2){
	            	if(biaoshi==0){
		        		 $("#biaozhun").attr('class','on');
		        		 $("#qinrou").removeClass("on");
		        		 $("#shendu").removeClass("on");
			         }else if(biaoshi==1){
			        	 $("#shiwumiao").attr('class','on');
		        		 $("#shimiao").removeClass("on");
		        		 $("#ershimiao").removeClass("on");
		        		 $("#ershiwumiao").removeClass("on");
		        		 $("#sanshimiao").removeClass("on");
			         }
	               Bytes[2]=0x02;
	            }else if(valzhi==3){
	            	if(biaoshi==0){
		        		 $("#shendu").attr('class','on');
		        		 $("#biaozhun").removeClass("on");
		        		 $("#qinrou").removeClass("on");
			         }else if(biaoshi==1){
			        	 $("#ershimiao").attr('class','on');
		        		 $("#shimiao").removeClass("on");
		        		 $("#shiwumiao").removeClass("on");
		        		 $("#ershiwumiao").removeClass("on");
		        		 $("#sanshimiao").removeClass("on");
			         }
	              Bytes[2]=0x03;
	            }else if(valzhi==4){
	            	 $("#ershiwumiao").attr('class','on');
	        		 $("#shimiao").removeClass("on");
	        		 $("#shiwumiao").removeClass("on");
	        		 $("#ershimiao").removeClass("on");
	        		 $("#sanshimiao").removeClass("on");
		              Bytes[2]=0x04;
		            }else if(valzhi==5){
		            	 $("#sanshimiao").attr('class','on');
		        		 $("#shimiao").removeClass("on");
		        		 $("#shiwumiao").removeClass("on");
		        		 $("#ershiwumiao").removeClass("on");
		        		 $("#ershimiao").removeClass("on");
			              Bytes[2]=0x05;
			            }
	        
	            Bytes[3]=0x0d;
	            Bytes[4]=0x0a;
	       var x=senddataBytes(Bytes,C_DEVICEID);
	          
	         if(x===0){$("#lbInfo").html('x.完成')}
	         else {$("#lbInfo").html('x.失败')}; 
	    }
	   
	   
	  /*******************************************************************
	 * 发送数据函数
	 * 作者：V型知识库 www.vxzsk.com 2016-04-04
	 * 入口参数：
	 *     cmdBytes: 需要发送的命令字节
	 *     selDeviceID: 选择的需要发送设备的ID 
	 * 出口参数：
	 *     返回: 0表示发送成功；1表示发送失败
	 *     如果成功，则接收事件应该能够收到相应的数据
	*******************************************************************/
	function senddataBytes(cmdBytes,selDeviceID){
	  //1. 如果输入的参数长度为零，则直接退出
	  if(cmdBytes.length<=0){return 1};
	 // alert("向微信发送指令数据");
	  //1.1 如果设备ID为空，则直接返回
	  if(selDeviceID.length<=0){return 1};
	  //2. 发送数据
	  var x=0;
	  WeixinJSBridge.invoke('sendDataToWXDevice', {
	            "deviceId":selDeviceID, 
	            "base64Data":bytes_array_to_base64(cmdBytes)
	            }, function(res){
	                //alert("向微信发送指令数据返回的状态"+res.err_msg);
	            if(res.err_msg=='sendDataToWXDevice:ok')
	               {
	                 
	                 x=0;
	                 //alert("数据发送成功");
	               }  
	            else
	               {
	                 
	                 x=1; 
	                // alert("数据发送失败");
	               } 
	        });  
	  return x;      
	}
	 
	 
	/**
	 *  Byte数组转Base64字符,原理同上 
	 * @Param [0x00,0x00]
	 * @return Base64字符串
	 **/
	function bytes_array_to_base64(array) {
	    if (array.length == 0) {
	        return "";
	    }
	    var b64Chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';
	    var result = "";
	    // 给末尾添加的字符,先计算出后面的字符
	    var d3 = array.length % 3;
	    var endChar = "";
	    if (d3 == 1) {
	        var value = array[array.length - 1];
	        endChar = b64Chars.charAt(value >> 2);
	        endChar += b64Chars.charAt((value << 4) & 0x3F);
	        endChar += "==";
	    } else if (d3 == 2) {
	        var value1 = array[array.length - 2];
	        var value2 = array[array.length - 1];
	        endChar = b64Chars.charAt(value1 >> 2);
	        endChar += b64Chars.charAt(((value1 << 4) & 0x3F) + (value2 >> 4));
	        endChar += b64Chars.charAt((value2 << 2) & 0x3F);
	        endChar += "=";
	    }
	 
	    var times = array.length / 3;
	    var startIndex = 0;
	    // 开始计算
	    for (var i = 0; i < times - (d3 == 0 ? 0 : 1); i++) {
	        startIndex = i * 3;
	 
	        var S1 = array[startIndex + 0];
	        var S2 = array[startIndex + 1];
	        var S3 = array[startIndex + 2];
	 
	        var s1 = b64Chars.charAt(S1 >> 2);
	        var s2 = b64Chars.charAt(((S1 << 4) & 0x3F) + (S2 >> 4));
	        var s3 = b64Chars.charAt(((S2 & 0xF) << 2) + (S3 >> 6));
	        var s4 = b64Chars.charAt(S3 & 0x3F);
	        // 添加到结果字符串中
	        result += (s1 + s2 + s3 + s4);
	    }
	 
	    return result + endChar;
	}
	 /**
	 *  Base64字符转Byte数组,原理同上 
	 * @Param Base64字符
	 * @return Base64字符串
	 **/
	function base64_to_bytes_array (input) { // 解码，配合decodeURIComponent使用
	    var base64EncodeChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
	    var output = "";
	    var chr1, chr2, chr3;
	    var enc1, enc2, enc3, enc4;
	    var i = 0;
	    input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
	    while (i < input.length) {
	        enc1 = base64EncodeChars.indexOf(input.charAt(i++));
	        enc2 = base64EncodeChars.indexOf(input.charAt(i++));
	        enc3 = base64EncodeChars.indexOf(input.charAt(i++));
	        enc4 = base64EncodeChars.indexOf(input.charAt(i++));
	        chr1 = (enc1 << 2) | (enc2 >> 4);
	        chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
	        chr3 = ((enc3 & 3) << 6) | enc4;
	        output = output + String.fromCharCode(chr1);
	        if (enc3 != 64) {
	            output = output + String.fromCharCode(chr2);
	        }
	        if (enc4 != 64) {
	            output = output + String.fromCharCode(chr3);
	        }
	    }
	    //alert(CharToHex(output));
	    return CharToHex(output);
	}
	var _shebeihao="";
	function CharToHex(str) {
	    var out, i, h,j;
	    var toubiaozhi,zxieyi,sxieyi,zvalue,svalue;
	    var shebeixieyi,shebeia,shebeib,shebeic,shebeid,shebeie,shebeif,shebeig,shebeih,shebeii,shebeij,shebeihao;
	    out = "";
	    i = 0;
	    while(i < str.length) 
	    {
	        h = str.charCodeAt(i++).toString(16);
	        if(h=='aa'){
	        	toubiaozhi='aa';
	        }
	        if(i==2){
	        	  if(h==52){
	  	        	zxieyi=52;
	  	          j=i;
	  	        }else if(h==56){
	  	        	shebeixieyi=56; 
	  		          j=i;
	  		        }
	        }
	      
	        if(zxieyi==52 && i-j==1){
	        	zvalue=h;
	        }
	        if(zxieyi==52 && i-j==2){
	        	svalue=h;
	        }
	        if(shebeixieyi==56 && i-j==1){
		          shebeia=h-30;
		        }
		        if(shebeixieyi==56 && i-j==2){
		        	shebeib=h-30;
		        }
		        if(shebeixieyi==56 && i-j==3){
		        	shebeic=h-30;
			        }
		        if(shebeixieyi==56 && i-j==4){
		        	shebeid=h-30;
			        }
		        if(shebeixieyi==56 && i-j==5){
		        	shebeie=h-30;
			        }
		        if(shebeixieyi==56 && i-j==6){
		        	shebeif=h-30;
			        }
		        if(shebeixieyi==56 && i-j==7){
		        	shebeig=h-30;
			        }
		        if(shebeixieyi==56 && i-j==8){
		        	shebeih=h-30;
			        }
		        if(shebeixieyi==56 && i-j==9){
		        	shebeii=h-30;
			        }
		        if(shebeixieyi==56 && i-j==10){
		        	shebeij=h-30;
			        }
	        
	           toubiaozhi='';
	        if(h.length==1){
	          h="0"+h;
	        }
	        out += "\\0x" + h;
	        out +=(i > 0 && i % 8 == 0)?"\r\n":", ";
	    }
	    if(zvalue==1){
         	 $("#qinrou").attr('class','on');
         	 $("#biaozhun").removeClass("on");
         	 $("#shendu").removeClass("on");
           }else if(zvalue==2){
  	        	 $("#biaozhun").attr('class','on');
  	        	 $("#qinrou").removeClass("on");
  	        	 $("#shendu").removeClass("on");
           }else if(zvalue==3){
  	        	 $("#shendu").attr('class','on');
  	        	 $("#biaozhun").removeClass("on");
  	        	 $("#qinrou").removeClass("on");
           }
          if(svalue==1){
         	 $("#shimiao").attr('class','on');
    		     $("#shiwumiao").removeClass("on");
    		 	 $("#ershimiao").removeClass("on");
    			 $("#ershiwumiao").removeClass("on");
    		 	 $("#sanshimiao").removeClass("on");
           }else if(svalue==2){
  	        	 $("#shiwumiao").attr('class','on');
         		 $("#shimiao").removeClass("on");
         		 $("#ershimiao").removeClass("on");
         		 $("#ershiwumiao").removeClass("on");
         		 $("#sanshimiao").removeClass("on");
           }else if(svalue==3){
  	        	 $("#ershimiao").attr('class','on');
         		 $("#shiwumiao").removeClass("on");
         		 $("#shimiao").removeClass("on");
         		 $("#ershiwumiao").removeClass("on");
         		 $("#sanshimiao").removeClass("on");
           }else if(svalue==4){
  	        	 $("#ershiwumiao").attr('class','on');
         		 $("#shiwumiao").removeClass("on");
         		 $("#ershimiao").removeClass("on");
         		 $("#shimiao").removeClass("on");
         		 $("#sanshimiao").removeClass("on"); 
           }else if(svalue==5){
  	        	 $("#sanshimiao").attr('class','on');
         		 $("#shiwumiao").removeClass("on");
         		 $("#ershimiao").removeClass("on");
         		 $("#ershiwumiao").removeClass("on");
         		 $("#shimiao").removeClass("on");
           }
          $("#zhezhaoceng").hide();
          if(shebeixieyi==56){
  	    	shebeihao="XX"+shebeia+shebeib+shebeic+shebeid+shebeie+shebeif+shebeig+shebeih+shebeii+shebeij;
  	       }
         // $("#shebeihaott").html(shebeihao);
          if(shebeihao!=null && shebeihao !=""){
// 	    	 $("#shebeihaot").html(shebeihao);
       	   _shebeihao=shebeihao;
       	   connect(_shebeihao);
       	   getDeviceName(_shebeihao);
       	  
 	    }
	  // mlog("收到的包值："+out);
	    return out;
	}
	function getDeviceName(_shebeihao){
		$.ajax({
			type: "POST",
		    url: "/yashua/device/getDeviceName",
		    data: {'identity':_shebeihao},
		    success: function(r){
		    
		    	if(r.errcode == 0){
		    		var userDevice=r.data.userDevice;
		    		
		    		if(userDevice.name!=null && userDevice.name!="" )
		    		$("#shebeihaot").children("span").text(userDevice.name);
		    		return;
		    	}
		    	alert(r.errmsg);
		    }
		});
	}
	

	//设置牙刷名称
	$("#setyashuaname").click(function(){
		if(_shebeihao==''){
			alert("连接设备号为空，请重新连接！");
			return;
		}
		var dia = $(".ui-dialog").dialog("show");
		
		dia.on("dialog:action",function(e){
			if(e.index == 2){//0==关闭，1==取消，2==确定
				
				var l3 = $.loading({content:'请稍后...'}).show();
				var name = $("input[name=name]").val();
				$.ajax({
					type: "POST",
				    url: "/yashua/device/setName",
				    data: {'name':name,'identity':_shebeihao},
				    success: function(r){
				    	l3.hide();
				    	if(r.errcode == 0){
				    		getDeviceName(_shebeihao);
				    		$("input[name=name]").val('');
				    		return;
				    	}
				    	alert(r.errmsg);
				    }
				});
			}
	    });
	});
	
	//绑定连接牙刷
   function connect(obj){
	var identity = obj;
	$.ajax({
		type: "POST",
	    url: "/yashua/device/connect",
	    data: {identity:identity},
	    success: function(r){
	    
	    	if(r.errcode == 0){

	    		return;
	    	}
	    	alert(r.errmsg);
	    }
	});
	}
	
	//仅供测试用
	$(".zhineng").click(function(){
		var id=0,arry1=[];aver1=0;
		$.ajax({
    		type: "GET",
    	    url: "/yashua/userdata/history/list/"+id,
    	    success: function(r){
    	    	if(r.errcode == 0){
    		   	 	var datas = r.data;
    		   	 	if(id==0){//一周的口气
	    		   	 	for(var i=0;i<datas.list.length;i++){
	    		   	 		var data = datas.list[i];
	    		   	 		if(data.biaoshi==1){
	    		   	 			arry1.push(datas.list[i].fenshu);
	    		   	 			aver1+=datas.list[i].fenshu;
	    		   	 		}
	    		   	 	}
	    		   	  	if(arry1.length<7){
	    		   	  		var a1=0,a2=0;
	    		   	  		if(arry1.length>0) a1 = Math.ceil(aver1/arry1.length);
	    		   	  		//alert("早上的口气平均值      "  +a1);
	    		   	  		if(a1==0){
	    			          	 $("#qinrou").attr('class','on');
	    			          	 $("#biaozhun").removeClass("on");
	    			          	 $("#shendu").removeClass("on");
	    			          	 $("#shimiao").attr('class','on');
	    			          	 senddatap(0,0x01);
	    		     		     $("#shiwumiao").removeClass("on");
	    		     		 	 $("#ershimiao").removeClass("on");
	    		     			 $("#ershiwumiao").removeClass("on");
	    		     		 	 $("#sanshimiao").removeClass("on");
	    		     		 	senddatap(1,0x01);
	    		   	  		}else if(a1==1){
	    			          	 $("#qinrou").attr('class','on');
	    			          	 $("#biaozhun").removeClass("on");
	    			          	 $("#shendu").removeClass("on");
	    			        	 senddatap(0,0x01);
	    			          	 $("#shiwumiao").attr('class','on');
	    		          		 $("#shimiao").removeClass("on");
	    		          		 $("#ershimiao").removeClass("on");
	    		          		 $("#ershiwumiao").removeClass("on");
	    		          		 $("#sanshimiao").removeClass("on");
	    		          		senddatap(1,0x02);
	    		   	  		}else if(a1==2){
	    			          	 $("#qinrou").attr('class','on');
	    			          	 $("#biaozhun").removeClass("on");
	    			          	 $("#shendu").removeClass("on");
	    			        	 senddatap(0,0x01);
	    			          	 $("#ershimiao").attr('class','on');
	    		          		 $("#shiwumiao").removeClass("on");
	    		          		 $("#shimiao").removeClass("on");
	    		          		 $("#ershiwumiao").removeClass("on");
	    		          		 $("#sanshimiao").removeClass("on");
	    		          		senddatap(1,0x03);
	    		   	  		}else if(a1==3){
	    			          	 $("#qinrou").attr('class','on');
	    			          	 $("#biaozhun").removeClass("on");
	    			          	 $("#shendu").removeClass("on");
	    			        	 senddatap(0,0x01);
	    			          	 $("#ershiwumiao").attr('class','on');
	    		          		 $("#shiwumiao").removeClass("on");
	    		          		 $("#ershimiao").removeClass("on");
	    		          		 $("#shimiao").removeClass("on");
	    		          		 $("#sanshimiao").removeClass("on"); 
	    		          		senddatap(1,0x04);
	    		   	  		}else if(a1==4){
	    		   	  		 $("#biaozhun").attr('class','on');
	    	   	        	 $("#qinrou").removeClass("on");
	    	   	        	 $("#shendu").removeClass("on");
	    	   	     	 	 senddatap(0,0x02);
	    	   	        	 $("#ershimiao").attr('class','on');
	    	          		 $("#shiwumiao").removeClass("on");
	    	          		 $("#shimiao").removeClass("on");
	    	          		 $("#ershiwumiao").removeClass("on");
	    	          		 $("#sanshimiao").removeClass("on");
	    	          		senddatap(1,0x03);
	    		   	  		}else if(a1==5){
	    		   	  		 $("#biaozhun").attr('class','on');
	    	   	        	 $("#qinrou").removeClass("on");
	    	   	        	 $("#shendu").removeClass("on");
	    	   	     		 senddatap(0,0x02);
	    	   	        	 $("#ershiwumiao").attr('class','on');
	    	          		 $("#shiwumiao").removeClass("on");
	    	          		 $("#ershimiao").removeClass("on");
	    	          		 $("#shimiao").removeClass("on");
	    	          		 $("#sanshimiao").removeClass("on"); 
	    	          		senddatap(1,0x04);
	    		   	  		}else if(a1==6){
	    		   	  		 $("#biaozhun").attr('class','on');
	    	   	        	 $("#qinrou").removeClass("on");
	    	   	        	 $("#shendu").removeClass("on");
	    	   	     		 senddatap(0,0x02);
	    	   	        	 $("#sanshimiao").attr('class','on');
	    	          		 $("#shiwumiao").removeClass("on");
	    	          		 $("#ershimiao").removeClass("on");
	    	          		 $("#ershiwumiao").removeClass("on");
	    	          		 $("#shimiao").removeClass("on");
	    	          		senddatap(1,0x05);
	    		   	  		}else if(a1==7){
	    		   	  		 $("#shendu").attr('class','on');
	    	   	        	 $("#biaozhun").removeClass("on");
	    	   	        	 $("#qinrou").removeClass("on");
	    	   	     		 senddatap(0,0x03);
	    	   	        	 $("#ershimiao").attr('class','on');
	    	          		 $("#shiwumiao").removeClass("on");
	    	          		 $("#shimiao").removeClass("on");
	    	          		 $("#ershiwumiao").removeClass("on");
	    	          		 $("#sanshimiao").removeClass("on");
	    	          		senddatap(1,0x03);
	    		   	  		}else if(a1==8){
	    		   	  		 $("#shendu").attr('class','on');
	    	   	        	 $("#biaozhun").removeClass("on");
	    	   	        	 $("#qinrou").removeClass("on");
	    	   	        	senddatap(0,0x03);
	    	   	        	 $("#ershiwumiao").attr('class','on');
	    	          		 $("#shiwumiao").removeClass("on");
	    	          		 $("#ershimiao").removeClass("on");
	    	          		 $("#shimiao").removeClass("on");
	    	          		 $("#sanshimiao").removeClass("on"); 
	    	          		senddatap(1,0x04);
	    		   	  		}else if(a1==9){
	    		   	  		 $("#shendu").attr('class','on');
	    	   	        	 $("#biaozhun").removeClass("on");
	    	   	        	 $("#qinrou").removeClass("on");
	    	   	        	senddatap(0,0x03);
	    	   	        	 $("#sanshimiao").attr('class','on');
	    	          		 $("#shiwumiao").removeClass("on");
	    	          		 $("#ershimiao").removeClass("on");
	    	          		 $("#ershiwumiao").removeClass("on");
	    	          		 $("#shimiao").removeClass("on");
	    	          		senddatap(1,0x05);
	    		   	  		}
	    		   	  		
	    		   	  		
	    		   	  		
	    		   	  		
	    		   	 	} 
	    		   	}
    	    	}
    	    }
	
	});
	});
		
</script>
