<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<title>设置</title>
</head>
<body>
<div class="Top"><h3>设置</h3><a href="">完成</a></div>
<div class="nichen font-36 center">牙刷名称<em></em></div>

<div class="shezhi-moshi center font-28">
	<p>牙刷模式</p>
    <span>开启您想要的牙刷模式</span>
</div>

<div class="qj-moshi font-26">
	<p>清洁模式</p>
	<ul>
		<li>轻柔</li>
		<li class="on">标准</li>
		<li>深度</li>
	</ul>
</div>

<div class="settime font-24 center">
	<p>清洁模式</p>
	<ul>
		<li><i>10秒</i></li><!--em宽为0-->
		<li><i>15秒</i></li><!--em宽为25%-->
		<li><i>20秒</i></li><!--em宽为50%-->
		<li class="on"><i>25秒</i></li><!--em宽为75%-->
		<li><i>30秒</i></li><!--em宽为100%-->
		<em style="width:0%"></em>
	</ul>
</div>

</body>
</html>
