<!DOCTYPE html>
<html>
<head>
    <title>用户表</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="lock"><i class="fa fa-lock"></i>&nbsp;禁用</a>
            <a class="btn btn-primary" @click="resetPassword"><i class="fa fa-refresh"></i>&nbsp;重置密码</a>
            <a class="btn btn-primary" @click="recharge"><i class="fa fa-cny"></i>&nbsp;手动充值</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">用户账号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.account" placeholder="用户账号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">密码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.password" placeholder="密码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">注册来源</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.source" placeholder="注册来源"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">Y 正常 N 禁用</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.status" placeholder="Y 正常 N 禁用  F 异常冻结" value="Y"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">账户余额</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.balance" placeholder="账户余额"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">用户的昵称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.nickname" placeholder="用户的昵称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">性别</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.sex" placeholder="用户的性别，值为1时是男性，值为2时是女性，值为0时是未知"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所在城市</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.city" placeholder="用户所在城市"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所在国家</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.country" placeholder="用户所在国家"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所在省份</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="user.province" placeholder="用户所在省份"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
	<div id="passwordLayer" style="display: none;">
		<form class="form-horizontal">
		<div class="form-group">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">账号</div>
			    <span class="label label-success" style="vertical-align: bottom;">{{account}}</span>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">新密码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="newPasswd" placeholder="新密码"/>
			    </div>
			</div>
		</div>
		</form>
	</div>
	
	<div id="rechargeLayer" style="display: none;">
		<form class="form-horizontal">
		<div class="form-group">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">账号</div>
			    <span class="label label-success" style="vertical-align: bottom;">{{account}}</span>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">金额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="amount" placeholder="充值金额，正数为充值，负数为扣除"/>
			    </div>
			</div>
		</div>
		</form>
	</div>
</div>
<script src="/statics/js/modules/account/user.js?_${.now?long}"></script>
</body>
</html>