<!DOCTYPE html>
<html>
<head>
<#include "/new_header.html">
<link rel="stylesheet" href="/statics/plugins/dropload/dropload.css" type="text/css">
<script type="text/javascript" src="/statics/plugins/dropload/dropload.min.js"></script>
<title>
<#if news??>
	<#if news.title??>  
	   ${news.title}
	</#if>
<#else>
详情
</#if>
</title>
</head>
<body>
<#if news??>
<div class="Top" style="display: none;"><h3 onclick="javascript:window.location.href='/news/list.html'">详情</h3></div>
<div class="zixun bg-new font-28">
		
    <h3>
	    <#if news.title??>  
		   ${news.title}
		</#if>
	</h3>
 	<#if news.picItems??>
   		<!-- <img src="${news.picItems}" alt=""/> -->
   	</#if>
   	<p>
		<#if news.content??>
			${news.content!} 
		</#if>
	</p>
	<h6>作者：
		<#if news.author??>
			${news.author} 
		</#if>
	</h6>
	
	<h6>
		${news.createTime?string('yyyy-MM-dd HH:mm:ss')}
	</h6>
	<!-- <div class="how">
        <span class="fl">${news.clicks}人看过</span>
        <span class="fr"><i>${news.replies}</i><i class="sc">${news.praises}</i></span>
    </div> --> 
</div>
<!-- <div class="pingl">
	<div class="ddpl bg-new font-36">&#9679;&#9679;&#9679; 评论</div>
</div>
<div id="wrapper">
	<div class="duzhe">
		<div class="renwu bg-new">
	    	<img src="/statics/new_images/duzhe1.jpg" alt=""/>
	        <div class="txt">
	        	<p class="font-36">小雪</p>
	        	<p class="font-30">感觉很有用处，关注牙齿，关注健康，持续关注中</p>
	            <p class="font-24">2015-05-20 15:08</p>
	        	<em></em>
	        </div>
	        
	    </div>
	</div>
</div>
<div style="height:50px;width:100%;">

</div>
<div class="headroom headroom--unfixed" style="height: 45px;bottom: -45px;top: auto;left: 0px;right: 0px;z-index: 6;position: fixed;transform: translateY(-100%);transition: transform 200ms ease-in-out;">
	<div class="comment-form"
		style="transform: translateZ(0px);padding-bottom: 0px;display: flex;background-color: #f7f7f7;padding: 6px 12px;overflow: auto;z-index: 10;">
		<textarea class="autosize-textarea" placeholder="评论"
			data-boss="p_text" style="height: 32px;display: block;width: 0%;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding: 5px 10px;font-size: 16px;line-height: 20px;border: 1px solid #d5dde6;outline: none;-webkit-overflow-scrolling: touch -webkit-appearance:none;border-radius: 3px;"></textarea>
		<button class="replyRepulish" style="display: block;font-size: 16px;color: #fff;background-color: #448aff;border: 0 none;padding: 0 15px;margin-left: 4px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;">发表</button>
	</div>
</div> -->
<script type="text/javascript">
$(function(){
	let showTop = url("showTop");
	if(showTop){
		$(".Top").show();
	}
})
</script>
<script type="text/javascript">
var id = ${news.id!};
$(function(){
	var l2 = $.loading({content:'加载中...'}).show();
	var uuid = login.isLogin() ? parent.window.storage.get('login.openid',false) : login.visitor().getID();
	$.ajax({
		url:"/news/modify/clicks",
		data:{id:id,uuid:uuid},
		success:function(r){
			l2.hide();
	    	if(r.errcode == 0){
	    		return;
	    	}
	    	alert(r.errmsg);
		}
	});
	
	// dropload
	var offset = 0;
	$('.duzhe').html('');
    $('#wrapper').dropload({
        scrollArea : window,
        loadDownFn : function(me){
            // 拼接HTML
        	$.ajax({
                type: 'POST',
                url: '/news/replys',
                data:{id:id,offset:offset,size:10},
                dataType: 'json',
                success: function(response){
                    var arrLen = response.data.length;
                    var html = "";
                    if(arrLen > 0){
                    	for(var i=0;i<response.data.length;i++){
                    		var item = response.data[i];
                    		html += '<div class="renwu bg-new">';
                    		html += '	<img src="'+item.headimgurl+'" alt=""/>';
                    		html += '     <div class="txt">';
                    		html += '    	<p class="font-36">'+item.nickname+'</p>';
                    		html += '    	<p class="font-30">'+item.content+'</p>';
                    		html += '        <p class="font-24">'+new Date(parseInt(item.createTime)).format("yyyy-MM-dd hh:mm:ss")+'</p>';
                    		html += '    <em></em>';
                    		html += '    </div>';
                    		html += '</div>';
                    	}
                    	if(arrLen < 10){
                    		// 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                    	}
                    	offset += arrLen;
                    // 如果没有数据
                    }else{
                        // 锁定
                        me.lock();
                        // 无数据
                        me.noData();
                    }
                    
                    // 为了测试，延迟1秒加载
                    // 插入数据到页面，放到最后面
                    $('.duzhe').append(html);
                    // 每次数据插入，必须重置
                    me.resetload();
                }
            });
        }
    });
	
	$(".replyRepulish").click(function(){
		var content = $(".autosize-textarea").val();
		if(!content || content.length == 0){
			alert("请输入评论内容");
			return;
		}
		if(!login.isLogin()){
    	    parent.location.href = loginCallUri();
			return;
		}
		var l1 = $.loading({content:'发表中...'}).show();
		$.ajax({
			url:"/news/toReply",
			data:{id:id,content:content},
			success:function(r){
				l1.hide();
		    	if(r.errcode == 0){
		    		alert("发表成功");
		    		window.location.reload();
		    		return;
		    	}
		    	alert(r.errmsg);
			}
		});
	});
	$(".sc").click(function(){
		var l3 = $.loading({content:'请求中...'}).show();
		$.ajax({
			url:"/news/praise",
			data:{id:id},
			success:function(r){
				l3.hide();
		    	if(r.errcode == 0){
		    		alert("点赞成功");
		    		window.location.reload();
		    		return;
		    	}
		    	alert(r.errmsg);
			}
		});
	});
	
});
</script>
<#else>
	<script type="text/javascript">window.location.href="/404.html"</script>
</#if>
</body>
</html>
