<!DOCTYPE html>
<html>
<head>
<#include "/header.html">
<title>详情</title>
</head>
<body class="bg-white">
<div class="Top"><span onclick="javascript:history.go(-1);"></span>详情</div>
<#if news??>
<div class="zixun">
	<span class="time">
		${news.createTime?string('yyyy-MM-dd HH:mm:ss')}
	</span>	
    <h3>
	    <#if news.title??>  
		   ${news.title}
		</#if>
	</h3>
 	<#if news.picItems??>
   		<img src="${news.picItems}" alt=""/>
   	</#if>
	<#if news.content??>
		${news.content!} 
	</#if>
	<div class="how">
        <span class="fl">${news.clicks}人看过</span>
        <span class="fr"><i>${news.replies}</i><i class="sc">${news.praises}</i></span>
    </div> 
</div>
<div class="duzhe bg-white">
	<div class="renwu">
    	<img src="/statics/images/duzhe1.jpg" alt=""/>
        <div class="txt">
        	<p class="nic font-26">小雪</p>
        	<p class="pl font-22 c-6">感觉很有用处，关注牙齿，关注健康，持续关注中</p>
            <span class="font-20 c-9">2015-05-20 15:08</span>
        </div>
        <em></em>
    </div>
	
    <div class="renwu">
    	<img src="/statics/images/duzhe2.jpg" alt=""/>
        <div class="txt">
        	<p class="nic font-26">简爱</p>
        	<p class="pl font-22 c-6">很赞</p>
            <span class="font-20 c-9">2015-05-09 08:08</span>
        </div>
        <em></em>
    </div>
    
    <div class="renwu">
    	<img src="/statics/images/duzhe3.jpg" alt=""/>
        <div class="txt">
        	<p class="nic font-26">爱牙达人</p>
        	<p class="pl font-22 c-6">写的很好，很详细，感觉很有用</p>
            <span class="font-20 c-9">2015-05-08 16:39</span>
        </div>
        <em></em>
    </div>
    
</div>
<#else>
	<script type="text/javascript">window.location.href="/404.html"</script>
</#if>
</body>
</html>
