<!DOCTYPE html>
<html>
<head>
<#include "/header.html">
<title>资讯列表</title>
</head>
<body>
<div class="Top"><span onclick="javascript:window.location.href='/found.html'"></span>牙科小知识</div>
<#if release??>  
	<#list release as news>
		<div class="yachi bg-white">
			<p class="time">${news.createTime?string('yyyy-MM-dd HH:mm:ss')}</p>
		    <h3>
		    	<#if news.title??>  
				   ${news.title}
				</#if>
			</h3>
		    <div class="txt">
		    	<#if news.picItems??>
		    		<img src="${news.picItems}" alt=""/>
		    	</#if>
				<#if news.content?length gt 60>
					${news.content?substring(0,60)}...
				<#else>
					${news.content!} 
				</#if>
		    </div>
		    <div class="all">
		    	<p class="fl"><a href="/news/info/${news.id}.html">阅读全文</a></p>
		        <p class="fr"><span>${news.replies}</span><span class="sc">${news.praises}</span></p>
		    </div>   
		</div>
	</#list>
</#if>


</body>
</html>

